<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>昆明经开区网格化管理校园疫情防控</title>
    <link rel="stylesheet" type="text/css" href="component/bootstrap-3.3.7-dist/css/bootstrap.min.css">pagination
    <link rel="stylesheet" type="text/css" href="component/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="src/css/links.css">
    <link rel="stylesheet" type="text/css" href="src/js/pagination.css">
    <script type="text/javascript" src="component/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="component/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="component/echarts/echarts.js"></script>
    <script type="text/javascript" src="static/js/template-web.js"></script>
    <style>
        .sWinList li{
            text-align: left;
        }

    </style>
</head>

<body>
<input id="date" type="hidden" value="">
<div id="wrapper">
    <div id="header">
        <script id="tpl-header" type="text/html">
            <h1 class="h04"></h1>
            <p class="txtDate">数据更新时间 <span>{{time}}</span></p>
        </script>
    </div>
    <div id="container" class="clearfix">
        <div class="sideCon">
            <!--教职工流动情况跟踪-->
            <div class="schoolSide01">
                <h2 class="mapTbox">
                    <span class="mapT01"><span class="mapTbg01">教职工流动情况跟踪</span></span>
                </h2>
                <div id="orgBoxAllTeacher">
                    <script id="tpl-orgBoxAllTeacher" type="text/html">
                        <p class="schoolTxt01 clearfix">教职工总数<span>{{ext11}}<em>人</em></span></p>
                    </script>
                </div>
                <div id="chartBar401" style="width:100%; height:190px;"></div>
            </div>
            <!--教职工流动情况跟踪 //-->
            <!--在昆教职工情况跟踪-->
            <div class="schoolSide02">
                <h2 class="mapTbox">
                    <span class="mapT01"><span class="mapTbg01">在昆教职工情况跟踪</span></span>
                </h2>

            </div>
            <!--在昆教职工情况跟踪 //-->
            <!--所有教职工到疫源地既往史-->
            <div class="schoolSide03" id="orgBoxHistoryT">
                <h2 class="mapTbox">
                    <span class="mapT01"><span class="mapTbg01">所有教职工到疫源地既往史</span></span>
                </h2>
                <script id="tpl-orgBoxHistoryT" type="text/html">
                    <div class="schoolBox01 mt30">
                        <h3 class="schoolTit01">到湖北（含武汉）情况</h3>
                        <ul class="schoolList01">
                            <li>总人数 <span>{{ext31}}<em>人</em></span></li>
                            <li>已返昆人数 <span>{{ext32}}<em>人</em></span></li>
                        </ul>
                    </div>
                    <div class="schoolBox01">
                        <h3 class="schoolTit01">到武汉情况</h3>
                        <ul class="schoolList01">
                            <li>总人数 <span>{{ext33}}<em>人</em></span></li>
                            <li>已返昆人数 <span>{{ext34}}<em>人</em></span></li>
                        </ul>
                    </div>
                </script>
            </div>
            <!--所有教职工到疫源地既往史-->
        </div>
        <div class="midCon posT">
            <ul class="schoolList02 clearfix">
                <li class="itemLi"><a href="#"><strong>学校总数</strong>
                    <span id="orgBox01">
                            <script id="tpl-orgBox01" type="text/html">
                               <p><em>{{data}}</em>个</p>
                           </script>
                        </span>
                    <p>分校点合并统计</p></a>
                    <div class="sWin01">
                        <div class="searchBox clearfix"><input id="ext1" type="text" class="form-control winput"><button type="button" class="btn sbtn" onclick="onclick1()"></button></div>
                        <ul class="sWinList" id="page">
                            <!--   <li>1 昆明学院附属经开区学校</li>
                               <li>2 昆明学院附属经开区学校</li>
                               <li>3 昆明学院附属经开区学校</li>-->
                        </ul>
                        <div class="clearfix">
                            <div class="setPageDiv">
                                <div class="paginationNew" id="pagination"></div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="itemLi"><a href="#">
                       <span id="orgBox31">
                            <script id="tpl-orgBox31" type="text/html">
                              <p class="mb10"><em>{{xxfls1}}</em>个</p>
                           </script>
                        </span>
                    <p>存在新发感染病例学校</p></a>
                    <div class="sWin01 redBg">
                        <div class="searchBox clearfix"><input id="ext25" type="text" class="form-control winput"><button type="button" class="btn sbtn" onclick="onclick25()"></button></div>
                        <ul class="sWinList" id="page25">
                            <!--   <li>1 昆明学院附属经开区学校</li>
                               <li>2 昆明学院附属经开区学校</li>
                               <li>3 昆明学院附属经开区学校</li>-->
                        </ul>
                        <div class="clearfix">

                            <div class="setPageDiv25">
                                <div class="paginationNew" id="pagination25"></div>
                            </div>


                        </div>
                    </div>
                </li>
                <li class="itemLi"><a href="#">
                        <span id="orgBox32">
                            <script id="tpl-orgBox32" type="text/html">
                              <p class="mb10"><em>{{xxfls2}}</em>个</p>
                           </script>
                        </span>
                    <!-- <p class="mb10"><em>47</em>个</p>-->
                    <p>存在疑似病例学校</p></a>
                    <div class="sWin01 redBg">
                        <div class="searchBox clearfix"><input id="ext26" type="text" class="form-control winput"><button type="button" class="btn sbtn" onclick="onclick26()"></button></div>
                        <ul class="sWinList" id="page26">
                            <!--<li>1 昆明学院附属经开区学校</li>
                            <li>2 昆明学院附属经开区学校</li>
                            <li>3 昆明学院附属经开区学校</li>-->
                        </ul>
                        <div class="clearfix">
                            <div class="setPageDiv26">
                                <div class="paginationNew" id="pagination26"></div>
                            </div>

                        </div>
                    </div>
                </li>
                <li class="itemLi"><a href="#">
                     <span id="orgBox33">
                        <script id="tpl-orgBox33" type="text/html">
                          <p class="mb10"><em>{{xxfls3}}</em>个</p>
                       </script>
                    </span>
                    <!-- <p class="mb10"><em>47</em>个</p>-->
                    <p>存在确诊病例学校</p></a>
                    <div class="sWin01 redBg">
                        <div class="searchBox clearfix"><input id="ext27" type="text" class="form-control winput"><button type="button" class="btn sbtn" onclick="onclick27()"></button></div>
                        <ul class="sWinList" id="page27">
                            <!--<li>1 昆明学院附属经开区学校</li>
                            <li>2 昆明学院附属经开区学校</li>
                            <li>3 昆明学院附属经开区学校</li>-->
                        </ul>
                        <div class="clearfix">
                            <div class="setPageDiv27">
                                <div class="paginationNew" id="pagination27"></div>
                            </div>

                        </div>
                    </div>
                </li>
                <li class="itemLi"><a href="#">
                    <span id="orgBox34">
                            <script id="tpl-orgBox34" type="text/html">
                              <em>{{xxfls4}}</em>个</p>
                              <!-- <p><em>{{xxfls4}}</em>个</p>-->
                           </script>
                        </span>
                    <!-- <p><em>47</em>个</p>-->
                    <p>有发热、咳嗽、呼吸<br />困难等症状人群的学校</p></a>
                    <div class="sWin01 redBg">
                        <div class="searchBox clearfix"><input id="ext21" type="text" class="form-control winput"><button type="button" class="btn sbtn" onclick="onclick21()"></button></div>
                        <ul class="sWinList" id="page21">

                            <!--   <dd class="dd01">{{item.xxfl}} <span>{{item.count}}<em>个</em></span></dd>-->
                            <!--  <li>1 昆明学院附属经开区学校</li>
                              <li>2 昆明学院附属经开区学校</li>
                              <li>3 昆明学院附属经开区学校</li>-->
                        </ul>
                        <div class="clearfix">

                            <div class="setPageDiv21">
                                <div class="paginationNew" id="pagination21"></div>
                            </div>

                        </div>
                    </div>

                </li>
            </ul>
            <iframe id="mainContent" width="100%" height="1200px" style="border: none;"></iframe>
            <span class="schoolBtn"></span>
            <div class="schoolMid">
                <div id="orgBoxTitle">
                    <script id="tpl-orgBoxTitle" type="text/html">
                        <h2 class="mapTbox">
                            <span class="mapT01"><span class="mapTbg01">{{name}}</span></span>
                        </h2>
                    </script>
                </div>

                <div id="chartBar422" style="width: 745px; height:310px" ></div>

            </div>

            <dl class="schoolLegend">
                <dt>图例</dt>
                <span id="orgBox02">
                <script id="tpl-orgBox02" type="text/html">
                     {{each xxfl item i}}
                     <% if (item.type=='1') { %>
                     <dd class="dd01">
                     <% }%>
                      <% if (item.type=='2') { %>
                     <dd class="dd02">
                     <% }%>
                      <% if (item.type=='3') { %>
                     <dd class="dd03">
                     <% }%>
                      <% if (item.type=='4') { %>
                     <dd class="dd04">
                     <% }%>

                     {{item.xxfl}} <span>{{item.count}}<em>个</em></span></dd>
                     {{/each}}
                     <!--  <dd class="dd02">小学<span>2512 <em>个</em></span></dd>
                       <dd class="dd03">初中<span>2512 <em>个</em></span></dd>
                       <dd class="dd04">大专院校<span>2512 <em>个</em></span></dd>-->
                </script>
                </span>
            </dl>

        </div>
        <div class="sideCon">
            <!--学生流动情况跟踪-->
            <div class="schoolSide01">
                <h2 class="mapTbox">
                    <span class="mapT01"><span class="mapTbg01">学生流动情况跟踪</span></span>
                </h2>
                <span id="orgBoxAllStudent">
                    <script id="tpl-orgBoxAllStudent" type="text/html">
                        <p class="schoolTxt01 schoolTxt02 clearfix">学生总数<span>{{ext11}}<em>人</em></span></p>
                    </script>
                </span>
                <div id="chartBar402" style="width:100%; height:190px;"></div>
            </div>
            <!--学生流动情况跟踪 //-->
            <!--在昆学生情况跟踪-->
            <div class="schoolSide02">
                <h2 class="mapTbox">
                    <span class="mapT01"><span class="mapTbg01">在昆学生情况跟踪</span></span>
                </h2>

            </div>
            <!--在昆学生情况跟踪 //-->
            <!--疫区来昆人员追踪-->
            <div class="schoolSide03" id="orgBoxHistoryS">
                <h2 class="mapTbox">
                    <span class="mapT01"><span class="mapTbg01">疫区来昆人员追踪</span></span>
                </h2>
                <script id="tpl-orgBoxHistoryS" type="text/html">
                    <div class="schoolBox01 mt30 schoolGreen">
                        <h3 class="schoolTit01">到湖北（含武汉）情况</h3>
                        <ul class="schoolList01">
                            <li>总人数 <span>{{ext31}}<em>人</em></span></li>
                            <li>已返昆人数 <span>{{ext32}}<em>人</em></span></li>
                        </ul>
                    </div>
                    <div class="schoolBox01 schoolGreen">
                        <h3 class="schoolTit01">到武汉情况</h3>
                        <ul class="schoolList01">
                            <li>总人数 <span>{{ext33}}<em>人</em></span></li>
                            <li>已返昆人数 <span>{{ext34}}<em>人</em></span></li>
                        </ul>
                    </div>
                </script>
            </div>
            <!--疫区来昆人员追踪 //-->

        </div>
    </div>

</div>
<script src="./static/js/jquery.ajax.js"></script>
<script type="text/javascript" src="src/js/four_x.js"></script>
<script type="text/javascript" src="src/js/jquery.pagination.js"></script>
<script type="text/javascript" src="src/js/coordtransform.js"></script>
<script type="text/javascript" src="src/js/fourBothSides.js"></script>
<script type="text/javascript" src="src/js/chartBar401.js"></script>
<script type="text/javascript" src="src/js/chartBar422.js"></script>
<script type="text/javascript" src="src/js/chartBar402.js"></script>
<script>
    $(".schoolBtn").click(function (){
        var flag = $(".schoolMid").is(":hidden");
        if(flag){
            $(".schoolMid").show();
        }else{
            $(".schoolMid").hide();
        }
    });

    $('.schoolList02 .itemLi').each(function () {
        $(this).click(function (e){
            e.stopPropagation();
            $('.schoolList02 .sWin01').hide();
            $(this).find('.sWin01').show();
        })
    })
    $(document).click(function(){
        $('.schoolList02 .sWin01').hide();
    });

    $(document).ready(function () {

        var date = '';
        var school_id = '';
        var title = '';

        $.axget1("/api/yndp/FourDate/getYndpFourDate",false, function (res) {
            console.log(res.data.date);
            initOrgBoxfourDate(res.data);
            date = res.data.date;
            $('#date').val(date)
            YndpFourSchoolMsg(date,school_id,1);
            YndpFourSchoolMsg(date,school_id,2);
        });

        getXxzs();
        getXxtl();
        getXxfls(date);
        /* getXxtjs21();*/
        getXxtjs(5,'')
        getXxtjs21(5,'',date)
        getXxtjs25(5,'',date)
        getXxtjs26(5,'',date)
        getXxtjs27(5,'',date)

        getXxzs();
        getXxtl();
    });

    var myChart401 = echarts.init(document.getElementById('chartBar401'));
    var myChart402 = echarts.init(document.getElementById('chartBar402'));

    var initOrgBoxfourDate = function (data) {
        var str = data.date;
        var time = str.substring(0, 4)+"年"+str.substring(4, 6)+"月"+str.substring(6, 8)+"日";
        var html = template('tpl-header', {time:time});
        document.getElementById('header').innerHTML = html;
    }

    var mainContent = document.getElementById('mainContent');
    <!-- 指定所展示url -->
    mainContent.src = "map_4.html"

</script>
</body>
</html>