<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>昆明经开区网格化管理服务组织架构</title>
    <link rel="stylesheet" type="text/css" href="component/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="component/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="src/css/links.css">
    <script type="text/javascript" src="component/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="component/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="static/js/jquery.ajax.js"></script>
    <script type="text/javascript" src="static/js/template-web.js"></script>

</head>
<body>
<div id="wrapper">
    <!--        <div id="header">-->
    <!--            <h1></h1>-->
    <!--            <p class="txtP">云南省自贸区昆明片区（昆明经开区）疫情防控网格化管理工作图</p>-->
    <!--        </div>-->
    <div id="header"></div>
    <script id="tpl-header" type="text/html">
        <h1></h1>
        <p class="txtP" style="left:600px">{{title}}</p>
    </script>
    <div id="container" class="clearfix posT">
        <span class="arrowMid"></span>
        <div class="orgLeft01">
            <div class="orgLeftIn posT" id="orgBox01">
                <script id="tpl-orgBox01" type="text/html">
                    <% if (jgTmp.xjlx==1 || jgTmp.xjlx==2) { %>
                    <div class="leftBox01">
                        <span class="bgTop01"></span>
                        <span class="bgTop02"></span>
                        <span class="bgBtm01"></span>
                        <span class="bgBtm02"></span>
                        <div class="leftBox01In">
                            <ul class="orgList02">
                                <li><strong>包保领导</strong><span>{{jgTmp.bbld==null?'-':jgTmp.bbld}}</span></li>
                                <li><strong>区级联系部门</strong>{{jgTmp.qjlxbm==null?'-':jgTmp.qjlxbm}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="leftArrow01"></div>
                    <div class="leftBox01">
                        <span class="bgTop01"></span>
                        <span class="bgTop02"></span>
                        <span class="bgBtm01"></span>
                        <span class="bgBtm02"></span>
                        <div class="leftBox01In" style="text-align: left;">
                            <a href="#" data-toggle="modal" onclick="allModal('{{jgTmp}}','leftTwo')">
                                <ul class="orgList02">
<!--                                    <li><strong>街道网格长</strong><span>{{jgTmp.jdwgz==null?'-': jgTmp.jdwgz.trim().split(/\s+/)[0]}}&nbsp;{{jgTmp.jdwgz==null?'-': jgTmp.jdwgz.trim().split(/\s+/)[1]}}</span></li>-->
                                    <li><strong>街道网格长</strong><span>{{jgTmp.jdwgz==null?'-': jgTmp.jdwgz.trim().split(/\s+/)[0]}}</span></li>
<!--                                    <li><strong>网格管理员</strong><span>{{jgTmp.jdwggly==null?'-':jgTmp.jdwggly.trim().split(/\s+/)[0]}}&nbsp;{{jgTmp.jdwggly==null?'-':jgTmp.jdwggly.trim().split(/\s+/)[1]}}</span></li>-->
                                    <li><strong>网格管理员</strong><span>{{jgTmp.jdwggly==null?'-':jgTmp.jdwggly.trim().split(/\s+/)[0]}}</span></li>
                                </ul>
                            </a>
                        </div>
                    </div>
                    <div class="leftArrow01"></div>
                    <div class="leftBox02">
                        <span class="bgTop01"></span>
                        <span class="bgTop02"></span>
                        <span class="bgBtm01"></span>
                        <span class="bgBtm02"></span>
                        <div class="leftBox02In">
                            <a href="#" data-toggle="modal" onclick="allModal('{{jgTmp}}','leftThree')">
                                <ul class="orgList02" style="height: 140px">
                                    <% if (jgTmp.xjlx==1) { %>
                                    <!--                                        <li><strong>社区网格长</strong><span>{{sqwgz==null?'-':sqwgz}}</span></li>-->
                                    <!--                                        <li><strong>网格管理员</strong><span>{{sqwggly==null?'-':sqwggly}}</span></li>-->
<!--                                    <li><strong>社区网格长</strong><span>{{jgTmp.sqwgz==null?'-':jgTmp.sqwgz.trim().split(/\s+/)[0]}}&nbsp;{{jgTmp.sqwgz==null?'-':jgTmp.sqwgz.trim().split(/\s+/)[1]}}</span></li>-->
<!--                                    <li><strong>网格管理员</strong><span>{{jgTmp.sqwggly==null?'-':jgTmp.sqwggly.trim().split(/\s+/)[0]}}&nbsp;{{jgTmp.sqwggly==null?'-':jgTmp.sqwggly.trim().split(/\s+/)[1]}}</span></li>                -->
                                    <li><strong>社区网格长</strong><span>{{jgTmp.sqwgz==null?'-':jgTmp.sqwgz.trim().split(/\s+/)[0]}}</span></li>
                                    <li><strong>网格管理员</strong><span>{{jgTmp.sqwggly==null?'-':jgTmp.sqwggly.trim().split(/\s+/)[0]}}</span></li>
                                    <% } else if (jgTmp.xjlx==2) { %>
                                    <!--                                        <li><strong>社区网格长</strong><span>{{sqwgz==null?'-':sqwgz}}</span></li>-->
                                    <!--                                        <li><strong>社区网格监督员</strong><span>{{sqwgjdy==null?'-':sqwgjdy}}</span></li>-->
                                    <!--                                        <li><strong>网格员</strong><span>{{sqwggly==null?'-':sqwggly}}</span></li>-->

<!--                                    <li><strong>社区网格长</strong><span>{{jgTmp.sqwgz==null?'-':jgTmp.sqwgz.trim().split(/\s+/)[0]}}&nbsp;{{jgTmp.sqwgz==null?'-':jgTmp.sqwgz.trim().split(/\s+/)[1]}}</span></li>-->
<!--                                    <li><strong>社区网格监督员</strong><span>{{jgTmp.sqwgjdy==null?'-':jgTmp.sqwgjdy.trim().split(/\s+/)[0]}}&nbsp;{{jgTmp.sqwgjdy==null?'-':jgTmp.sqwgjdy.trim().split(/\s+/)[1]}}</span></li>-->
<!--                                    <li><strong>网格员</strong><span>{{jgTmp.sqwggly==null?'-':jgTmp.sqwggly.trim().split(/\s+/)[0]}}&nbsp;{{jgTmp.sqwggly==null?'-':jgTmp.sqwggly.trim().split(/\s+/)[1]}}</span></li>-->
                                    <li><strong>社区网格长</strong><span>{{jgTmp.sqwgz==null?'-':jgTmp.sqwgz.trim().split(/\s+/)[0]}}&nbsp;</span></li>
                                    <li><strong>社区网格监督员</strong><span>{{jgTmp.sqwgjdy==null?'-':jgTmp.sqwgjdy.trim().split(/\s+/)[0]}}&nbsp;</span></li>
                                    <li><strong>网格员</strong><span>{{jgTmp.sqwggly==null?'-':jgTmp.sqwggly.trim().split(/\s+/)[0]}}</span></li>

                                    <% } else if (jgTmp.xjlx==3) { %>
                                    <!--                                        <li><strong>包保领导</strong><span>赵赵赵</span>13600000000</li>-->
                                    <!--                                        <li><strong>社区监督员</strong><span>赵赵赵</span>13600000000</li>-->
                                    <!--                                        <li><strong>监督员</strong><span>赵赵赵</span>13600000000</li>-->
                                    <% } %>

                                </ul>
                            </a>
                        </div>
                    </div>
                    <% } else if(xjlx==null){ %>

                    <% } else { %>
                    <div class="leftBox01">
                        <span class="bgTop01"></span>
                        <span class="bgTop02"></span>
                        <span class="bgBtm01"></span>
                        <span class="bgBtm02"></span>
                        <div class="leftBox01In">
                            <ul class="orgList02">
                                <li><strong>区级网格长</strong><span>{{jgTmp.qjwgz==null?'-':jgTmp.qjwgz}}</span></li>
                                <li><strong>网格员</strong>{{jgTmp.qjwgy==null?'-':jgTmp.qjwgy}}</li>
                            </ul>
                        </div>
                    </div>
                    <% } %>
                    <ul class="lftBtns">
                        <li class="btn_home"><a href="javascript:history.go(-1)"></a></li>
                        <!--                            <li class="btn_map"><a href="javascript:;" data-toggle="modal" data-target="#myModal"></a></li>-->
                        <li class="btn_map"><a onclick="mapModal('{{jgTmp.jgid}}','{{jgTmp.jgmc}}')" data-toggle="modal"></a></li>
                    </ul>
                </script>
                <ul class="lftBtns">
                    <li class="btn_home"><a href="javascript:history.go(-1)"></a></li>
                    <li class="btn_map"><a href="javascript:;" data-toggle="modal" data-target="#myModal"></a></li>
                </ul>
            </div>
        </div>
        <div class="orgRight01">
            <div class="orgRightIn01">
                <div class="orgCon posT">
                    <a onclick="wgClick('up')" class="prevBig"></a>  <!--点击网格上-->
                    <a onclick="wgClick('down')" class="nextBig"></a>  <!--点击网格下-->
                    <div id="orgBox02" style="height: 100%"></div>

                    <script id="tpl-orgBox02" type="text/html">
                        {{each wglist item i}}

                        <% if (i==0) { %>
                        <div class="orgBox01 clearfix bluePart">
                            <% } %>

                            <% if (i==1) { %>
                            <div class="orgBox01 clearfix yellowPart">
                                <% } %>

                                <% if (i==2) { %>
                                <div class="orgBox01 clearfix greenPart">
                                    <% } %>


                                    <% if (xjlx==1) { %>
                                    <!--box1-->
                                    <div class="orgConLft01">
                                        <a href="#" data-toggle="modal" onclick="allModal('{{item}}','cs')">
                                            <h3 class="ttl02">{{item.wgmc}}</h3>
                                            <div class="ttlBox">
                                                <ul class="orgList02 lineMore" >
                                                    <!--                                                                <li><strong>网格管理员</strong><span>{{item.wggly==null?'-':item.wggly}}</span></li>-->
<!--                                                    <li><strong>网格管理员</strong><span>{{item.wggly==null?'-':item.wggly.trim().split(/\s+/)[0]}}</span><span>{{item.wggly==null?'-':item.wggly.trim().split(/\s+/)[1]}}</span></li>-->
<!--                                                    <li><strong>小区</strong><span>{{item.xqnum==null?'-':item.xqnum}}个</span></li>-->
<!--                                                    <li><strong>居民户数</strong><span>{{item.jmzhs==null?'-':item.jmzhs}}户{{item.jmzrs==null?'-':item.jmzrs}}人</span></li>-->
<!--                                                    <li><strong>主干道</strong><span>{{item.zgdts==null?'-':item.zgdts}}条</span></li>-->
<!--                                                    <li><strong>背街小巷</strong><span>{{item.bjxxts==null?'-':item.bjxxts}}条</span></li>-->
<!--                                                    <li><strong>企事业单位</strong><span>{{item.qsydwgs==null?'-':item.qsydwgs}}家</span></li>-->

                                                    <li><strong>网格管理员</strong><span>{{item.wggly==null?'-':item.wggly.trim().split(/\s+/)[0]}}</span></li>
                                                    <li><strong>小区</strong><span>{{item.xqnum==null?'-':item.xqnum}}个</span></li>
                                                    <li><strong>居民户数</strong><span>{{item.jmzhs==null?'-':item.jmzhs}}户{{item.jmzrs==null?'-':item.jmzrs}}人</span></li>
                                                    <li><strong>主干道</strong><span>{{item.zgdts==null?'-':item.zgdts}}条</span></li>
                                                    <li><strong>背街小巷</strong><span>{{item.bjxxts==null?'-':item.bjxxts}}条</span></li>
                                                    <li><strong>企事业单位</strong><span>{{item.qsydwgs==null?'-':item.qsydwgs}}家</span></li>

                                                </ul>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="orgConMid01 posT">
                                        <a onclick="wgcyClick('left','{{item.wgid}}','{{i+1}}')" class="prevSmall"></a><!--点击网格成员左-->
                                        <a onclick="wgcyClick('right','{{item.wgid}}','{{i+1}}')" class="nextSmall"></a><!--点击网格成员右-->
                                        <div class="orgList03 clearfix">
                                            {{each item.children subItem j}}
                                            <div class="orgList03In">
                                                <a href="#" data-toggle="modal" onclick="allModal('{{subItem}}','wgcy_cs')">
<!--                                                <a href="#">-->
                                                    <h3 class="ttl05" style="white-space:nowrap;text-overflow:ellipsis;overflow:hidden;padding:1px 15px;">{{subItem.jgmc==null?'-':subItem.jgmc}}<span>({{subItem.lds==null?'-':subItem.lds}}栋{{subItem.hs==null?'-':subItem.hs}}户{{subItem.zrs==null?'-':subItem.zrs}}人)</span></h3>
                                                    <ul class="orgList02">
                                                        <!--                                                                <li><strong>网格长</strong><span>{{subItem.jgwgz==null?'-':subItem.jgwgz}}</span></li>-->
                                                        <!--                                                                <li><strong>网格管理员</strong><span>{{subItem.jgwggly==null?'-':subItem.jgwggly}}</span></li> -->
                                                        <!--                                                    <li><strong>网格长</strong><span>{{subItem.jgwgz==null?'-':subItem.jgwgz.trim().split(/\s+/)[0]}}</span><span>{{subItem.jgwgz==null?'-':subItem.jgwgz.trim().split(/\s+/)[1]}}</span></li>-->
                                                        <!--                                                    <li><strong>网格管理员</strong><span>{{subItem.jgwggly==null?'-':subItem.jgwggly.trim().split(/\s+/)[0]}}</span><span>{{subItem.jgwggly==null?'-':subItem.jgwggly.trim().split(/\s+/)[1]}}</span></li>-->
                                                        <li><strong>网格长</strong><span>{{subItem.jgwgz==null?'-':subItem.jgwgz.trim().split(/\s+/)[0]}}</span></li>
                                                        <li><strong>网格管理员</strong><span>{{subItem.jgwggly==null?'-':subItem.jgwggly.trim().split(/\s+/)[0]}}</span></li>
                                                    </ul>
                                                </a>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                    <!--box1 //-->
                                    <% } else if (xjlx==2) { %>
                                    <!--box1-->
                                    <div class="orgConLft01">
                                        <a href="#" data-toggle="modal" onclick="allModal('{{item}}','cgj')">
                                            <h3 class="ttl02">{{item.wgmc==null?'-':item.wgmc}} &nbsp;<span>{{item.hs==null?'-':item.hs}}户{{item.rs==null?'-':item.rs}}人 </span></h3>
                                            <div class="ttlBox">
                                                <ul class="orgList02 lineMore">
                                                    <!--                                                                <li><strong>网格监督员</strong><span>{{item.wljdy==null?'-':item.wljdy}}</span></li>-->
                                                    <!--                                                                <li><strong>网格长</strong><span>{{item.wgz==null?'-':item.wgz}}</span></li>-->
                                                    <!--                                                                <li><strong>网格员</strong><span>{{item.wgy==null?'-':item.wgy}}</span></li>-->
<!--                                                    <li><strong>网格监督员</strong><span>{{item.wljdy==null?'-':item.wljdy.trim().split(/\s+/)[0]}}</span><span>{{item.wljdy==null?'-':item.wljdy.trim().split(/\s+/)[1]}}</span></li>-->
<!--                                                    <li><strong>网格长</strong><span>{{item.wgz==null?'-':item.wgz.trim().split(/\s+/)[0]}}</span><span>{{item.wgz==null?'-':item.wgz.trim().split(/\s+/)[1]}}</span></li>-->
<!--                                                    <li><strong>网格员</strong><span>{{item.wgy==null?'-':item.wgy.trim().split(/\s+/)[0]}}</span><span>{{item.wgy==null?'-':item.wgy.trim().split(/\s+/)[1]}}</span></li>-->

                                                    <li><strong>网格监督员</strong><span>{{item.wljdy==null?'-':item.wljdy.trim().split(/\s+/)[0]}}</span></li>
                                                    <li><strong>网格长</strong><span>{{item.wgz==null?'-':item.wgz.trim().split(/\s+/)[0]}}</span></li>
                                                    <li><strong>网格员</strong><span>{{item.wgy==null?'-':item.wgy.trim().split(/\s+/)[0]}}</span></li>

                                                </ul>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="orgConMid01 posT">
                                        <a onclick="wgcyClick('left','{{item.wgid}}','{{i+1}}')" class="prevSmall"></a><!--点击网格成员左-->
                                        <a onclick="wgcyClick('right','{{item.wgid}}','{{i+1}}')" class="nextSmall"></a><!--点击网格成员右-->
                                        <div class="orgList03 clearfix">
                                            {{each item.children subItem j}}
                                            <div class="orgList03In">
                                                <a href="#" data-toggle="modal" onclick="allModal('{{subItem}}','wgcy_cgj')">
<!--                                                <a href="#">-->
                                                    <h3 class="ttl05"><span></span></h3>
                                                    <ul class="orgList02">
                                                        <li><strong>党员代表</strong><span>{{subItem.dydb==null?'-':subItem.dydb.trim().split(/\s+/)[0]}}</span></li>
                                                        <li><strong>联系电话</strong><span>{{subItem.lxdh==null?'-':subItem.lxdh}}</span></li>
                                                        <li><strong>联系户数</strong><span>{{subItem.lxhs==null?'-':subItem.lxhs}}</span></li>
                                                    </ul>
                                                </a>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                    <!--box1 //-->
                                    <% } else  { %>
                                    <!--box1-->
                                    <div class="orgConLft01 ">
                                        <a href="#" data-toggle="modal" onclick="allModal('{{item}}','hy')">
                                            <h3 class="ttl02">{{item.jgmc==null?'-':item.jgmc}} <span>{{item.gsgs==null?'-':item.gsgs}}</span></h3>
                                            <div class="ttlBox">
                                                <ul class="orgList02 lineMore">
                                                    <li><strong>网格长</strong><span>{{item.hywgz==null?'-':item.hywgz}}</span></li>
                                                    <li><strong>网格员</strong><span>{{item.hywgy==null?'-':item.hywgy}}</span></li>
                                                </ul>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="orgConMid01 posT">
                                        <a onclick="wgcyClick('left','{{item.wgid}}','{{i+1}}')" class="prevSmall"></a><!--点击网格成员左-->
                                        <a onclick="wgcyClick('right','{{item.wgid}}','{{i+1}}')" class="nextSmall"></a><!--点击网格成员右-->
                                        <div class="orgList03 clearfix">
                                            {{each item.children subItem j}}
                                            <div class="orgList03In">
                                                <h3 class="ttl05">{{subItem.jgmc}} <span></span></h3>
                                                <ul class="orgList02">
                                                    <!--                                                                <li><strong>{{subItem.jgmc}}</strong></li>-->
                                                    <li><strong>网格长</strong><span>{{subItem.hywgz==null?'-':subItem.hywgz}}</span></li>
                                                    <li><strong>网格管理员</strong><span>{{subItem.hywgcy==null?'-':subItem.hywgcy}}</span></li>
                                                </ul>
                                            </div>
                                            {{/each}}
                                        </div>
                                    </div>
                                    <!--box1 //-->
                                    <% } %>
                                </div>
                            </div>
                            {{/each}}

                    </script>


                </div>
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade mapWin" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <img id="modalsrc" height="620" src="../src/images/mapno.png" alt="" onerror="maperror()">
                </div>
            </div>
        </div>
    </div>



    <!-- 所有弹窗 -->
    <div class="modal fade mapWin nameWin01" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" id="syModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="nameWinTop">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body nameWinBox">
                    <div class="nameWinBoxin" id="allModal">
                        <script id="tpl-allModal" type="text/html">

<!--                            <h4 class="nameTit">包保领导</h4>-->
<!--                            <ul class="nameList">-->
<!--                                <li><span>赵赵赵</span>13666666666</li>-->
<!--                                <li><span>赵赵赵</span>13666666666</li>-->
<!--                                <li><span>赵赵赵</span>13666666666</li>-->
<!--                                <li><span>赵赵赵</span>13666666666</li>-->
<!--                                <li><span>赵赵赵</span>13666666666</li>-->
<!--                                <li><span>赵赵赵</span>13666666666</li>-->
<!--                                <li><span>赵赵赵</span>13666666666</li>-->
<!--                                <li><span>赵赵赵</span>13666666666</li>-->
<!--                                <li><span>赵赵赵</span>13666666666</li>-->
<!--                                <li><span>赵赵赵</span>13666666666</li>-->
<!--                                <li><span>赵赵赵</span>13666666666</li>-->
<!--                            </ul>-->
                        <% if (type=='cs') { %>
                            <h4 class="nameTit">网格管理员</h4>
                            <ul class="nameList">
                                <% if (data.wggly != null) { %>
                                    {{each data.wggly.trim().split(/\s+/) itm i}}
                                        <% if (i%2==0) { %>
                                        <li>{{data.wggly.trim().split(/\s+/)[i]}}&nbsp&nbsp{{data.wggly.trim().split(/\s+/)[i+1]}}</li>
                                        <% } %>
                                    {{/each}}
                                <% } %>
                            </ul>

                        <% } else if (type=='cgj') { %>
                            <h4 class="nameTit">网格监督员</h4>
                            <ul class="nameList">
                                <% if (data.wljdy != null) { %>
                                {{each data.wljdy.trim().split(/\s+/) itm i}}
                                    <% if (i%2==0) { %>
                                    <li>{{data.wljdy.trim().split(/\s+/)[i]}}&nbsp&nbsp{{data.wljdy.trim().split(/\s+/)[i+1]}}</li>
                                    <% } %>
                                {{/each}}
                                <% } %>
                            </ul>
                            <h4 class="nameTit">网格长</h4>
                            <ul class="nameList">
                                <% if (data.wgz != null) { %>
                                {{each data.wgz.trim().split(/\s+/) itm i}}
                                <% if (i%2==0) { %>
                                <li>{{data.wgz.trim().split(/\s+/)[i]}}&nbsp&nbsp{{data.wgz.trim().split(/\s+/)[i+1]}}</li>
                                <% } %>
                                {{/each}}
                                <% } %>
                            </ul>
                            <h4 class="nameTit">网格员</h4>
                            <ul class="nameList">
                                <% if (data.wgy != null) { %>
                                {{each data.wgy.trim().split(/\s+/) itm i}}
                                    <% if (i%2==0) { %>
                                    <li>{{data.wgy.trim().split(/\s+/)[i]}}&nbsp&nbsp{{data.wgy.trim().split(/\s+/)[i+1]}}</li>
                                    <% } %>
                                {{/each}}
                                <% } %>
                            </ul>
                        <% } else if (type=='hy') { %>

                        <% } else if (type=='leftThree') { %>
                                <% if (data.xjlx=='1') { %>
                                    <h4 class="nameTit">社区网格长</h4>
                                    <ul class="nameList">
                                    <% if (data.sqwgz != null) { %>
                                    {{each data.sqwgz.trim().split(/\s+/) itm i}}
                                    <% if (i%2==0) { %>
                                    <li>{{data.sqwgz.trim().split(/\s+/)[i]}}&nbsp&nbsp{{data.sqwgz.trim().split(/\s+/)[i+1]}}</li>
                                    <% } %>
                                    {{/each}}
                                    <% } %>
                                    </ul>
                                    <h4 class="nameTit">网格管理员</h4>
                                    <ul class="nameList">
                                    <% if (data.sqwggly != null) { %>
                                    {{each data.sqwggly.trim().split(/\s+/) itm i}}
                                    <% if (i%2==0) { %>
                                    <li>{{data.sqwggly.trim().split(/\s+/)[i]}}&nbsp&nbsp{{data.sqwggly.trim().split(/\s+/)[i+1]}}</li>
                                    <% } %>
                                    {{/each}}
                                    <% } %>
                                    </ul>
                                <% } else if (data.xjlx=='2') { %>
                                    <h4 class="nameTit">社区网格长</h4>
                                    <ul class="nameList">
                                    <% if (data.sqwgz != null) { %>
                                    {{each data.sqwgz.trim().split(/\s+/) itm i}}
                                    <% if (i%2==0) { %>
                                    <li>{{data.sqwgz.trim().split(/\s+/)[i]}}&nbsp&nbsp{{data.sqwgz.trim().split(/\s+/)[i+1]}}</li>
                                    <% } %>
                                    {{/each}}
                                    <% } %>
                                    </ul>
                                    <h4 class="nameTit">社区网格监督员</h4>
                                    <ul class="nameList">
                                    <% if (data.sqwgjdy != null) { %>
                                    {{each data.sqwgjdy.trim().split(/\s+/) itm i}}
                                    <% if (i%2==0) { %>
                                    <li>{{data.sqwgjdy.trim().split(/\s+/)[i]}}&nbsp&nbsp{{data.sqwgjdy.trim().split(/\s+/)[i+1]}}</li>
                                    <% } %>
                                    {{/each}}
                                    <% } %>
                                    </ul>
                                    <h4 class="nameTit">网格员</h4>
                                    <ul class="nameList">
                                    <% if (data.sqwggly != null) { %>
                                    {{each data.sqwggly.trim().split(/\s+/) itm i}}
                                    <% if (i%2==0) { %>
                                    <li>{{data.sqwggly.trim().split(/\s+/)[i]}}&nbsp&nbsp{{data.sqwggly.trim().split(/\s+/)[i+1]}}</li>
                                    <% } %>
                                    {{/each}}
                                    <% } %>
                                    </ul>
                                <% } else if (data.xjlx=='3') { %>
                                <!--                                        <li><strong>包保领导</strong><span>赵赵赵</span>13600000000</li>-->
                                <!--                                        <li><strong>社区监督员</strong><span>赵赵赵</span>13600000000</li>-->
                                <!--                                        <li><strong>监督员</strong><span>赵赵赵</span>13600000000</li>-->
                                <% } %>
                        <% } else if (type=='leftTwo') { %>
                            <h4 class="nameTit">街道网格长</h4>
                            <ul class="nameList">
                                <% if (data.jdwgz != null) { %>
                                {{each data.jdwgz.trim().split(/\s+/) itm i}}
                                <% if (i%2==0) { %>
                                <li>{{data.jdwgz.trim().split(/\s+/)[i]}}&nbsp&nbsp{{data.jdwgz.trim().split(/\s+/)[i+1]}}</li>
                                <% } %>
                                {{/each}}
                                <% } %>
                            </ul>
                            <h4 class="nameTit">网格管理员</h4>
                            <ul class="nameList">
                                <% if (data.jdwggly != null) { %>
                                {{each data.jdwggly.trim().split(/\s+/) itm i}}
                                <% if (i%2==0) { %>
                                <li>{{data.jdwggly.trim().split(/\s+/)[i]}}&nbsp&nbsp{{data.jdwggly.trim().split(/\s+/)[i+1]}}</li>
                                <% } %>
                                {{/each}}
                                <% } %>
                            </ul>
                        <% } else if (type=='wgcy_cs') { %>
                            <h4 class="nameTit">{{data.jgmc}}</h4>
                            <h4 class="nameTit">网格长</h4>
                            <ul class="nameList">
                                <% if (data.jgwgz != null) { %>
                                {{each data.jgwgz.trim().split(/\s+/) itm i}}
                                <% if (i%2==0) { %>
                                <li>{{data.jgwgz.trim().split(/\s+/)[i]}}&nbsp&nbsp{{data.jgwgz.trim().split(/\s+/)[i+1]}}</li>
                                <% } %>
                                {{/each}}
                                <% } %>
                            </ul>
                            <h4 class="nameTit">网格管理员</h4>
                            <ul class="nameList">
                                <% if (data.jgwggly != null) { %>
                                {{each data.jgwggly.trim().split(/\s+/) itm i}}
                                <% if (i%2==0) { %>
                                <li>{{data.jgwggly.trim().split(/\s+/)[i]}}&nbsp&nbsp{{data.jgwggly.trim().split(/\s+/)[i+1]}}</li>
                                <% } %>
                                {{/each}}
                                <% } %>
                            </ul>
                        <% } else if (type=='wgcy_cgj') { %>
                            <h4 class="nameTit">党员代表</h4>
                            <ul class="nameList">
                                <% if (data.dydb != null) { %>
                                {{each data.dydb.trim().split(/\s+/) itm i}}
                                <% if (i%2==0) { %>
                                <li>{{data.dydb.trim().split(/\s+/)[i]}}&nbsp&nbsp{{data.dydb.trim().split(/\s+/)[i+1]}}</li>
                                <% } %>
                                {{/each}}
                                <% } %>
                            </ul>
                        <% } %>

                        </script>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        var sjjg = "";
        var initTitle = function (data) {
            var title = ""
            var type = "";
            // console.log("title="+JSON.stringify(data));
            $.axget1("/api/yndp/glgz/getSjJg?jgId="+data.jgid,false, function (res) {
                sjjg=res.data.sjjg.jgmc;
                if(data.xjlx==='1'){
                    type = "城市";
                    title =  res.data.sjjg.jgmc +data.jgmc+ " ("+type+")";
                }else if(data.xjlx==='2'){
                    type = "村改居";
                    title =  res.data.sjjg.jgmc +data.jgmc+ " ("+type+")";
                }else if(data.xjlx==null){
                    title=res.data.sjjg.jgmc +data.jgmc;
                }else{
                    type="行业领域";
                    title = data.jgmc+ " ("+type+")";
                }


            });

            // var html = template('tpl-header', {title: '云南省自贸区昆明片区（昆明经开区）疫情防控网格化管理工作图'});
            var html = template('tpl-header', {title: title});
            document.getElementById('header').innerHTML = html;
        }

        function toTree(data) {
            // 删除 所有 children,以防止多次调用
            data.forEach(function (item) {
                delete item.children;
            });

            // 将数据存储为 以 id 为 KEY 的 map 索引数据列
            var map = {};
            data.forEach(function (item) {
                map[item.jgid] = item;
            });
            var val = [];
            data.forEach(function (item) {
                // 以当前遍历项，的parentid,去map对象中找到索引的id
                var parent = map[item.parentid];
                // 好绕啊，如果找到索引，那么说明此项不在顶级当中,那么需要把此项添加到，他对应的父级中
                if (parent) {
                    (parent.children || (parent.children = [])).push(item);
                } else {
                    //如果没有在map中找到对应的索引ID,那么直接把 当前的item添加到 val结果集中，作为顶级
                    val.push(item);
                }
            });
            return val;
        }


        function GetQueryString(name) {
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)","i");
            var r = window.location.search.substr(1).match(reg);
            if (r!=null) return (r[2]); return null;
        }


        var treeData = []
        var currentWgPage = 1;
        var wgMaxPage = 0;
        var currentWgcyPage1 = 1;
        var wgcyMaxPage1=0;
        var currentWgcyPage2 = 1;
        var wgcyMaxPage2=0;
        var currentWgcyPage3 = 1;
        var wgcyMaxPage3=0;

        var xjlx = "";
        var jgId= GetQueryString("jgId");

        function wgClick(type){
            console.log("xjlx="+xjlx);
            //处理方法
            if(type === 'down'){
                if(currentWgPage>=(wgMaxPage/3)){
                    return;
                }
                //查询
                currentWgPage = currentWgPage +1;
                console.log("currentWgPage="+currentWgPage);
                $.axget("/api/yndp/glgz/getWgList?jgId="+jgId+"&pageNum="+currentWgPage, function (wgRes) {
                    console.log("wgRes="+wgRes.data.list);
                    treeData = wgRes.data.list;
                    console.log("tdt"+treeData);
                    for( var i = 0;i<treeData.length;i++){
                        treeData[i].children =[];
                        $.axget1("/api/yndp/glgz/getWgcyList?wgId="+treeData[i].wgid+"&pageNum=1",false, function (res) {
                            treeData[i].children=res.data.list;
                        });
                    }
                    initOrgBox02(treeData,xjlx)
                });
            }else{
                if(currentWgPage==1){
                    return;
                }else{
                    currentWgPage = currentWgPage -1;
                }
                //查询
                $.axget("/api/yndp/glgz/getWgList?jgId="+jgId+"&pageNum="+currentWgPage, function (wgRes) {
                    console.log("wgRes="+wgRes.data.list);
                    treeData = wgRes.data.list;
                    console.log("tdt"+treeData);
                    for( var i = 0;i<treeData.length;i++){
                        treeData[i].children =[];
                        $.axget1("/api/yndp/glgz/getWgcyList?wgId="+treeData[i].wgid+"&pageNum=1",false, function (res) {
                            treeData[i].children=res.data.list;
                        });
                    }
                    initOrgBox02(treeData,xjlx)
                });
            }

            currentWgcyPage1 = 1;
            currentWgcyPage2 = 1;
            currentWgcyPage3 = 1;
        }




        function wgcyClick(type,wgid,currentNum){

            //处理方法
            if(type === 'right'){
                if(currentNum  === '1'){
                    if(currentWgcyPage1>=(wgcyMaxPage1/3)){
                        return;
                    }
                    currentWgcyPage1 = currentWgcyPage1 +1;
                    //查询
                    $.axget1("/api/yndp/glgz/getWgcyList?wgId="+wgid+"&pageNum="+currentWgcyPage1,false, function (res) {
                        treeData[0].children =[];
                        treeData[0].children=res.data.list;
                        console.log("3333="+res.data.list);
                        console.log(JSON.stringify((treeData[0].children)));
                        wgcyMaxPage1=res.data.total;
                        initOrgBox02(treeData,xjlx);
                    });
                } else if (currentNum  === '2'){
                    if(currentWgcyPage2>=(wgcyMaxPage2/3)){
                        return;
                    }
                    //查询
                    currentWgcyPage2 = currentWgcyPage2 +1;
                    $.axget1("/api/yndp/glgz/getWgcyList?wgId="+wgid+"&pageNum="+currentWgcyPage2,false, function (res) {
                        treeData[1].children =[];
                        treeData[1].children=res.data.list;
                        wgcyMaxPage2=res.data.total;
                        initOrgBox02(treeData,xjlx);
                    });
                } else{
                    if(currentWgcyPage3>=(wgcyMaxPage3/3)){
                        return;
                    }
                    //查询
                    currentWgcyPage3 = currentWgcyPage3 +1;
                    $.axget1("/api/yndp/glgz/getWgcyList?wgId="+wgid+"&pageNum="+currentWgcyPage3,false, function (res) {
                        treeData[2].children =[];
                        treeData[2].children=res.data.list;
                        wgcyMaxPage3=res.data.total;
                        initOrgBox02(treeData,xjlx);
                    });
                }
            }else {

                if(currentNum  === '1'){
                    if(currentWgcyPage1==1){
                        return;
                    }else{
                        currentWgcyPage1 = currentWgcyPage1 -1;
                    }
                    //查询
                    $.axget1("/api/yndp/glgz/getWgcyList?wgId="+wgid+"&pageNum="+currentWgcyPage1,false, function (res) {
                        treeData[0].children =[];
                        treeData[0].children=res.data.list;
                        wgcyMaxPage1=res.data.total;
                        initOrgBox02(treeData,xjlx);
                    });
                } else if (currentNum  === '2'){
                    if(currentWgcyPage2==1){
                        return;
                    }else{
                        currentWgcyPage2 = currentWgcyPage2 -1;
                    }

                    //查询
                    $.axget1("/api/yndp/glgz/getWgcyList?wgId="+wgid+"&pageNum="+currentWgcyPage2,false, function (res) {
                        treeData[1].children =[];
                        treeData[1].children=res.data.list;
                        wgcyMaxPage2=res.data.total;
                        initOrgBox02(treeData,xjlx);
                    });
                } else{
                    if(currentWgcyPage3==1){
                        return;
                    }else{
                        currentWgcyPage3 = currentWgcyPage3 -1;
                    }

                    //查询
                    $.axget1("/api/yndp/glgz/getWgcyList?wgId="+wgid+"&pageNum="+currentWgcyPage3,false, function (res) {
                        treeData[2].children =[];
                        treeData[2].children=res.data.list;
                        wgcyMaxPage3=res.data.total;
                        initOrgBox02(treeData,xjlx);
                    });
                }
            }
        }

        function spliteForSpace(str) {
            return  str.trim().split(/\s+/);
        }

        function mapModal(jgId,jgmc){
            console.log(jgId,jgmc);
            $("#myModalLabel").text(sjjg+jgmc);
            $('#modalsrc').attr('src','../src/images/map'+jgId+".jpg");
            $("#myModal").modal("show");
        }

        function maperror(){
            $('#modalsrc').attr('src','../src/images/mapno.png');
        }

        $(document).ready(function () {


            var jgId = GetQueryString("jgId");
            var jgName = GetQueryString("jgName");
            console.log(jgId);
            console.log(jgName);

            $.axget("/api/yndp/glgz/getJg?jgId="+jgId, function (res) {
                initOrgBox01(res.data.jg);
                initTitle(res.data.jg);
                xjlx=res.data.jg.xjlx;
                $.axget("/api/yndp/glgz/getWgList?jgId="+jgId+"&pageNum=1", function (wgRes) {
                    wgMaxPage=wgRes.data.total;
                    treeData = wgRes.data.list;
                    for( var i = 0;i<treeData.length;i++){
                        treeData[i].children =[];
                        $.axget1("/api/yndp/glgz/getWgcyList?wgId="+treeData[i].wgid+"&pageNum=1",false, function (res) {
                            treeData[i].children=res.data.list;
                            if(i==0){
                                wgcyMaxPage1=res.data.total;
                            }else if(i==1){
                                wgcyMaxPage2=res.data.total;
                            }else {
                                wgcyMaxPage3=res.data.total;
                            }
                        });
                    }
                    initOrgBox02(treeData,xjlx)
                });
            });


        });



        var initOrgBox01 = function (data) {
            // var html = template('tpl-orgBox01', data);
            var html = template('tpl-orgBox01', {jgTmp:data});
            document.getElementById('orgBox01').innerHTML = html;
        }

        var initOrgBox02 = function (data,xjlx) {
            console.log(xjlx);
            var html = template('tpl-orgBox02', {
                wglist: data,
                xjlx:xjlx
            });
            // $(".orgBox01").remove();


            // $("#orgBox02").after(html);
            document.getElementById('orgBox02').innerHTML = html;
        }


        // 所有弹窗
        function allModal(data,type){
            console.log("~~~~~~~");
            console.log(data);
            console.log(type);
            // var title = data.wgmc;  // 网格1
            // if(type=='cs'){
            //    var wggly = data.wggly; // 网格管理员
            // }else if(type=='cgj'){
            //    var wgjdy = data.wljdy // 网格监督员
            //    var wgz = data.wgz // 网格长
            //    var wgy = data.wgy// 网格员
            // }else if(type=='hy'){
            //     var wgz = data.hywgz // 网格长
            //     var wgy = data.hywgy// 网格员
            // }else{
            // }

            initAllModal(type,data);

        }

        var initAllModal = function (type,data) {
            if(data == null){
                return;
            }
            console.log(data);
            var html = template('tpl-allModal',  {
                type: type,
                data:JSON.parse(data)
            });
            document.getElementById('allModal').innerHTML = html;
            $("#syModal").modal("show");
        }

    </script>

</body>
</html>