<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>昆明经开区网格化管理服务疫情防控洞察</title>
    <link rel="stylesheet" type="text/css" href="component/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="component/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="src/css/links.css">
    <script type="text/javascript" src="component/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="component/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="component/echarts/echarts.js"></script>
    <script type="text/javascript" src="static/js/template-web.js"></script>
    <script type="text/javascript" src="component/socket/socketConfig.js"></script>
    <script type="text/javascript" src="component/socket/socketClient.js"></script>

</head>
<body>
<div id="wrapper">
    <div id="header"></div>
    <script id="tpl-header" type="text/html">
        <h1 class="h02"></h1>
<!--        <h1></h1>-->
        <p class="txtP">数据更新时间 <span>{{sjgxsj}}</span></p>
    </script>
    <!--    <div id="header">-->
    <!--        <h1></h1>-->
    <!--        <p class="txtP">数据更新时间 <span>2020年2月29日</span></p>-->
    <!--    </div>-->
    <div id="container" class="clearfix">
        <div class="sideCon">
            <!--资源配置-->
            <div class="sideBox01" id="orgBox01">
            <script id="tpl-orgBox01" type="text/html">>
                <h2 class="mapTbox">
                   <span class="mapT01"><span class="mapTbg01">资源配置</span></span>
                </h2>
                <ul class="list01">
                    <li class="li01"><div class="liBg"><p class="ln">网格长</p><strong>{{!wgz?'-':wgz}}</strong><span>人</span></div></li>
                    <li class="li02"><div class="liBg"><p class="ln">网格员</p><strong>{{wgy==null?'-':wgy}}</strong><span>人</span></div></li>
                    <li class="li03"><div class="liBg"><p class="ln">楼栋长/单元长</p><strong>{{ldz==null?'-':ldz}}</strong><span>人</span></div></li>
                    <li class="li04"><div class="liBg"><p class="ln">留验站点</p><strong>{{lyzd==null?'-':lyzd}}</strong><span>个</span></div></li>
                    <li class="li05"><div class="liBg"><p class="ln">医护人员</p><strong>{{yhry==null?'-':yhry}}</strong><span>人</span></div></li>
                    <li class="li06"><div class="liBg"><p class="ln">留观酒店</p><strong>{{lgjd==null?'-':lgjd}}</strong><span>家</span></div></li>
                    <li class="li07"><p class="ln">警力支撑</p><strong>{{jlzc==null?'-':jlzc}}</strong><span>人</span></li>
                    <li class="li08"><p class="ln">固定检查点</p><strong>{{gdjcd==null?'-':gdjcd}}</strong><span>个</span></li>
                    <li class="li09"><p class="ln">视频卡口</p><strong>{{spkk==null?'-':spkk}}</strong><span>个</span></li>
                </ul>
            </script>
            </div>
            <!--资源配置 //-->
            <!--物资保障-->
            <div class="sideBox02" id="orgBox02">
                <script id="tpl-orgBox02" type="text/html">
                <h2 class="mapTbox">
                    <span class="mapT01"><span class="mapTbg01">物资保障</span></span>
                </h2>
                <div class="tbBox">
                <table class="tb01" cellpadding="10">
                    <tr>
                        <th>序号</th>
                        <th>日期</th>
                        <th>物资</th>
                        <th>入库</th>
                        <th>发出</th>
                        <th>结存</th>
                        <th>备注</th>
                    </tr>
                    {{each wzbz item i}}
                    <tr>
                        <td>{{i+1}}</td>
                        <td>{{!item.rq?'-':item.rq}}</td>
                        <td>{{item.wz==null?'-':item.wz}}</td>
                        <td>{{item.rk==null?'-':item.rk}}</td>
                        <td>{{item.fc==null?'-':item.fc}}</td>
                        <td>{{item.jc==null?'-':item.jc}}</td>
                        <td>{{item.bz==null?'-':item.bz}}</td>
                    </tr>
                    {{/each}}
                </table>
                </div>
                </script>
            </div>
            <!--物资保障 //-->
            <!--防控宣传-->
            <div class="sideBox03" id="orgBox03">
                <script id="tpl-orgBox03" type="text/html">
                <h2 class="mapTbox">
                    <span class="mapT01"><span class="mapTbg01">防控宣传</span></span>
                </h2>
                <div class="ycBox01 clearfix">
                    <div class="ycBox02">
                        <p class="ycTxt01">{{szrc}}</p>
                        <p class="ycTxt02">
                            <% if (szrcjzr>0) { %>+ <% } %> {{szrcjzr}}<span>较昨日</span></p>
                        <p class="ycTxt03">受众人次</p>
                    </div>

                    <ul class="list02">
                        <li class="lia01"><strong>发放宣传资料</strong><span>{{ffxczl}} 份 <em><% if (ffxczljzr>0) { %>+ <% } %>{{ffxczljzr}} <i>较昨日</i></em></span></li>
                        <li class="lia02"><strong>微信群宣传</strong><span>{{wxqxc}} 份 <em><% if (wxqxcjzr>0) { %>+ <% } %>{{wxqxcjzr}} <i>较昨日</i></em></span></li>
                        <li class="lia03"><strong>LED宣传</strong><span>{{ledxc}} 份 <em><% if (ledxcjzr>0) { %>+ <% } %>{{ledxcjzr}} <i>较昨日</i></em></span></li>
                        <li class="lia04"><strong>发送短信</strong><span>{{fsdx}} 份 <em><% if (fsdxjzr>0) { %>+ <% } %>{{fsdxjzr}} <i>较昨日</i></em></span></li>
                        <li class="lia05"><strong>其他</strong><span>{{qt}} 份 <em><% if (qtjzr>0) { %>+ <% } %>{{qtjzr}} <i>较昨日</i></em></span></li>
                    </ul>
                </div>
                </script>
            </div>
            <!--防控宣传-->
        </div>
        <div class="midCon">

            <!--地图-->
            <div class="midBox01" >
                <div id="orgBox06" style="height:100%"></div>
                <script id="tpl-orgBox06" type="text/html">
                <h2 class="mapTbox">
                    <span class="mapT01"><span class="mapTbg01">经济技术开发区</span></span>
                </h2>
                <span class="greenBg01"></span>
                <span class="greenBg02"></span>
                <span class="greenBg03"></span>
                <span class="greenBg04"></span>
                    <ul class="mapTxt">
                        <li><span><em><% if (b.xcqzjzr>0) { %>+ <% } %>{{b.xcqzjzr==null?'-':b.xcqzjzr}}</em>较昨日</span><strong>{{b.xcqz==null?'-':b.xcqz}}</strong>现存确诊</li>
                        <li><span><em><% if (b.ljqzjzr>0) { %>+ <% } %>{{b.ljqzjzr==null?'-':b.ljqzjzr}}</em>较昨日</span><strong>{{b.ljqz==null?'-':b.ljqz}}</strong>累计确诊</li>
                        <li><span><em><% if (b.xcysjzr>0) { %>+ <% } %>{{b.xcysjzr==null?'-':b.xcysjzr}}</em>较昨日</span><strong>{{b.xcys==null?'-':b.xcys}}</strong>现存疑似</li>
                        <li><span><em><% if (b.ljswjzr>0) { %>+ <% } %>{{b.ljswjzr==null?'-':b.ljswjzr}}</em>较昨日</span><strong>{{b.ljsw==null?'-':b.ljsw}}</strong>累计死亡</li>
                        <li><span><em><% if (b.xczzjzr>0) { %>+ <% } %>{{b.xczzjzr==null?'-':b.xczzjzr}}</em>较昨日</span><strong>{{b.xczz==null?'-':b.xczz}}</strong>现存重症</li>
                        <li><span><em><% if (b.ljzyjzr>0) { %>+ <% } %>{{b.ljzyjzr==null?'-':b.ljzyjzr}}</em>较昨日</span><strong>{{b.ljzy==null?'-':b.ljzy}}</strong>累计治愈</li>
                    </ul>

                <div class="midBox01in">
                    <div class="mapMessbox">
                        <div class="mapMess">
                            <ul>
                                {{each a item i}}
                                <li><span>{{item.sjfssj}}</span>{{item.sj}}</li>
                                {{/each}}
                             <!--   <li><span>2020/02/20 15:00:00</span>昆经开洛羊街道259号世贸大厦 有一市民未佩戴口罩</li>
                                <li><span>2020/02/20 15:00:00</span>昆经开洛羊街道259号世贸大厦 有一市民未佩戴口罩</li>
                                <li><span>2020/02/20 15:00:00</span>昆经开洛羊街道259号世贸大厦 有一市民未佩戴口罩</li>
                                <li><span>2020/02/20 15:00:00</span>昆经开洛羊街道259号世贸大厦 有一市民未佩戴口罩</li>-->
                            </ul>
                        </div>
                    </div>
                   <ul class="mapTab">
                        <li><a href="javascript:void(0)" class="hover" onclick="searchMap('1','{{jgId}}','{{jgName}}')" id="btn01">现存确诊</a></li>
                        <li><a href="javascript:void(0)" onclick="searchMap('2','{{jgId}}','{{jgName}}')" id="btn02">累计确诊</a></li>
                    </ul>
                </div>

                </script>

                <div id="chart-panel"></div>
            </div>
            <!--地图 //-->
            <!--趋势图-->
            <div class="midBox02">

                <!-- Tab panes -->

                <div class="tab-content">

                    <div role="tabpanel" class="tab-pane active" id="tab01">

                            <h2 class="mapTbox01">
                            <span class="mapT01"><span class="mapTbg01">疫情新增趋势图</span></span>
                            </h2>

                        <div id="chartLine01" class="chartSty01"></div>

                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab02">
                        <h2 class="mapTbox01">
                            <span class="mapT01"><span class="mapTbg01">疫情现存疑似/确诊趋势图</span></span>
                        </h2>
                        <div id="chartLine02" class="chartSty01"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab03">
                        <h2 class="mapTbox01">
                            <span class="mapT01"><span class="mapTbg01">疫情死亡/治愈病例趋势图</span></span>
                        </h2>
                        <div id="chartLine03" class="chartSty01"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab04">
                        <h2 class="mapTbox01">
                            <span class="mapT01"><span class="mapTbg01">疫情病死率趋势图</span></span>
                        </h2>
                        <div id="chartLine04" class="chartSty01"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab05">
                        <h2 class="mapTbox01">
                            <span class="mapT01"><span class="mapTbg01">疫情治愈率趋势图</span></span>
                        </h2>
                        <div id="chartLine05" class="chartSty01"></div>
                    </div>

                </div>
                <!-- Nav tabs -->
                <ul class="nav nav-tabs tab01" role="tablist">
                    <li role="presentation" class="active"><a href="#tab01" aria-controls="home" role="tab" data-toggle="tab">新增疑似/新增确诊</a></li>
                    <li role="presentation"><a href="#tab02" aria-controls="profile" role="tab" data-toggle="tab">现存确诊/现存疑似</a></li>
                    <li role="presentation"><a href="#tab03" aria-controls="messages" role="tab" data-toggle="tab">死亡/治愈</a></li>
                    <li role="presentation"><a href="#tab04" aria-controls="settings" role="tab" data-toggle="tab">病死率</a></li>
                    <li role="presentation"><a href="#tab05" aria-controls="settings" role="tab" data-toggle="tab">治愈率</a></li>
                </ul>


            </div>
            <!--趋势图 //-->
        </div>
        <div class="sideCon">
            <!--网格化排查及联防联控-->
            <div class="sideBox01" id="orgBox04">
                <script id="tpl-orgBox04" type="text/html">
                <h2 class="mapTbox">
                    <span class="mapT01"><span class="mapTbg01">网格化排查及联防联控</span></span>
                </h2>
                <div class="ycBox03">
                    <ul class="ycBox0301">
                        <li>
                            <div class="liBg">
                            <strong>发动参加排查人员总数</strong>
                            <p class="color01"><em>累计</em>{{fdcjpcryzslj}}人</p>
                            <p class="color02"><em>新增</em>{{fdcjpcryzsxz}}人</p>
                            </div>
                        </li>
                        <li>
                            <div class="liBg">
                            <strong>微信群数量</strong>
                            <p class="color01"><em>累计</em>{{wxqsllj}}人</p>
                            <p class="color02"><em>新增</em>{{wxqslxz}}人</p>
                            </div>
                        </li>
                        <li>
                            <strong>排查总人数</strong>
                            <p class="color01"><i></i><em>累计</em>{{pczrslj}}人</p>
                            <p class="color02"><i></i><em>新增</em>{{pczrsxz}}人</p>
                        </li>
                        <li>
                            <strong>微信群覆盖率</strong>
                            <p class="color01"><i></i><em>累计</em>{{fxqfgllj}}人</p>
                            <p class="color02"><i></i><em>新增</em>{{fxqfglxz}}人</p>
                        </li>
                    </ul>
                </div>
                </script>
            </div>
            <!--网格化排查及联防联控 //-->
            <!--重点人员摸排-->
            <div class="sideBox02">
                <h2 class="mapTbox">
                    <span class="mapT01"><span class="mapTbg01">重点人员摸排</span></span>
                </h2>
                <div class="tab02Box clearfix">
                    <ul class="nav nav-tabs tab02" role="tablist">
                        <li role="presentation" class="active  liLft" id="tab06title"><a href="#tab06" aria-controls="home" role="tab" data-toggle="tab" id="tab1">排查特殊人群数量</a></li>
                        <li role="presentation" class="liRgt" id="tab07title"><a href="#tab07" aria-controls="profile" role="tab" data-toggle="tab">入住留验点人员</a></li>
                        <li role="presentation" class="active  liLft" style="display: none" id="tab08title"><a href="#tab08" aria-controls="home" role="tab" data-toggle="tab" id="tab2">登记在册人员排查</a></li>
                        <li role="presentation" class="liRgt" style="display: none;" id="tab09title"><a href="#tab09" aria-controls="profile" role="tab" data-toggle="tab">公安检查点排查</a></li>

                    </ul>
                </div>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="tab06">
                        <div id="chartPie01" class="chartSty02"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab07">
                        <div id="chartPie02" class="chartSty02"></div>
                    </div>

                    <div role="tabpanel" class="tab-pane active" id="tab08">
                        <div id="chartPie03" class="chartSty02"></div>
                    </div>
                    <div role="tabpanel" class="tab-pane" id="tab09">
                        <div id="chartPie04" class="chartSty02"></div>
                    </div>

                </div>
            </div>
            <!--重点人员摸排 //-->
            <!--疫区来昆人员追踪-->
            <div class="sideBox03" id="orgBox05">
                <script id="tpl-orgBox05" type="text/html">
                <h2 class="mapTbox">
                    <span class="mapT01"><span class="mapTbg01">疫区来昆人员追踪</span></span>
                </h2>
                <div class="listTb">
                    <table class="tb02">
                        <colgroup>
                            <col width="150" />
                            <col width="*" />
                            <col width="18%" />
                        </colgroup>
                        {{each ryzz item i}}
                        <tr>
                            <th>{{item.rylx}}</th>

                            <% if (item.rylx=='总数') { %>
                             <% if (ryzz[0].rysl==0) { %>
                            <td><p class="lineBox"> <span style="width: 0%"></span></p></td>
                            <% } else { %>
                            <td><p class="lineBox"> <span style="width: 100%"></span></p></td>
                            <% } %>
                                         <% } else { %>
                            <% if (ryzz[0].rysl==0) { %>
                            <td><p class="lineBox"> <span style="width: 0%"></span></p></td>
                            <% } else { %>
                            <td><p class="lineBox"> <span style="width: {{(item.rysl/ ryzz[0].rysl)*100}}%"></span></p></td>
                            <% } %>
                                         <% } %>

                            <td>{{item.rysl}}</td>
                        </tr>
                        {{/each}}
                    </table>
                </div>
                </script>
            </div>
            <!--疫区来昆人员追踪 //-->

        </div>
    </div>

</div>
<script src="component/jquery.liMarquee.js"></script>
<script src="./static/js/jquery.ajax.js"></script>
<script src="./static/js/echarts.map.js"></script>
<script type="text/javascript" src="src/js/chartLine01.js"></script>
<script type="text/javascript" src="src/js/chartLine02.js"></script>
<script type="text/javascript" src="src/js/chartLine03.js"></script>
<script type="text/javascript" src="src/js/chartLine04.js"></script>
<script type="text/javascript" src="src/js/chartLine05.js"></script>
<script type="text/javascript" src="src/js/chartPie01.js"></script>
<script type="text/javascript" src="src/js/chartPie02.js"></script>
<script type="text/javascript" src="src/js/chartPie03.js"></script>
<script type="text/javascript" src="src/js/chartPie04.js"></script>
<script>

    var initTime = function (data) {
        var arr = data.sjgxsj.split('-');
        console.log(arr);
        var time = arr[0]+"年"+arr[1]+"月"+arr[2]+"日";
        var html = template('tpl-header', {sjgxsj: time});
        document.getElementById('header').innerHTML = html;
    }

    function searchMap(type,jgId,jgName) {//初始化-资源配置
        if(type === 1 || type === '1' ){
            $("#btn02").removeClass('hover')
            $("#btn01").addClass('hover')
        }else{
            $("#btn01").removeClass('hover')
            $("#btn02").addClass('hover')
        }
        $.axget("/api/yndp/map/getMapList?jgId="+jgId+"&qzlx="+type, function (res) {

            setMyMapChartData(res.data,jgName);
        });
    }

    var initOrgBox01 = function (data) {
        if(data){
            var html = template('tpl-orgBox01', data);
            document.getElementById('orgBox01').innerHTML = html;
        }else{
            var html = template('tpl-orgBox01', {});
            document.getElementById('orgBox01').innerHTML = html;

        }
    }

    var initOrgBox02 = function (data) {
        if(data.length != 0){
            var html = template('tpl-orgBox02', {
                wzbz: data
            });
            document.getElementById('orgBox02').innerHTML = html;
        }else{
            var html = template('tpl-orgBox02', {
                wzbz: [{},{},{},{},{}]
            });
            document.getElementById('orgBox02').innerHTML = html;

        }

    }

    var initOrgBox03 = function (data) {
        var szrc ='-';
        var szrcjzr ='-';
        var ffxczl ='-';
        var ffxczljzr ='-';

        var wxqxc ='-';
        var wxqxcjzr ='-';
        var ledxc ='-';
        var ledxcjzr ='-';

        var fsdx ='-';
        var fsdxjzr ='-';
        var qt ='-';
        var qtjzr ='-';
        if(data!=null && data!=""&&data.length>0){
            if(data[0].szrc!=null && data[0].szrc!=""){
                szrc=data[0].szrc;
            }
            if(data[0].szrcjzr!=null && data[0].szrcjzr!=""){
                szrcjzr=data[0].szrcjzr;
            }
            if(data[0].ffxczl!=null && data[0].ffxczl!=""){
                ffxczl=data[0].ffxczl;
            }
            if(data[0].ffxczljzr!=null && data[0].ffxczljzr!=""){
                ffxczljzr=data[0].ffxczljzr;
            }
            if(data[0].wxqxc!=null && data[0].wxqxc!=""){
                wxqxc=data[0].wxqxc;
            }
            if(data[0].wxqxcjzr!=null && data[0].wxqxcjzr!=""){
                wxqxcjzr=data[0].wxqxcjzr;
            }
            if(data[0].ledxc!=null && data[0].ledxc!=""){
                ledxc=data[0].ledxc;
            }
            if(data[0].ledxcjzr!=null && data[0].ledxcjzr!=""){
                ledxcjzr=data[0].ledxcjzr;
            }

            if(data[0].fsdx!=null && data[0].fsdx!=""){
                fsdx=data[0].fsdx;
            }
            if(data[0].fsdxjzr!=null && data[0].fsdxjzr!=""){
                fsdxjzr=data[0].fsdxjzr;
            }
            if(data[0].qt!=null && data[0].qt!=""){
                qt=data[0].qt;
            }
            if(data[0].qtjzr!=null && data[0].qtjzr!=""){
                qtjzr=data[0].qtjzr;
            }
        }

        var html = template('tpl-orgBox03',{
            szrc: szrc,
            szrcjzr: szrcjzr,
            ffxczl: ffxczl,
            ffxczljzr: ffxczljzr,

            wxqxc: wxqxc,
            wxqxcjzr: wxqxcjzr,
            ledxc: ledxc,
            ledxcjzr: ledxcjzr,

            fsdx: fsdx,
            fsdxjzr: fsdxjzr,
            qt: qt,
            qtjzr: qtjzr
        });
        document.getElementById('orgBox03').innerHTML = html;
    }

    var initOrgBox04 = function (data) {
        var fdcjpcryzslj ='-';
        var fdcjpcryzsxz ='-';
        var wxqsllj ='-';
        var wxqslxz ='-';
        var pczrslj ='-';
        var pczrsxz ='-';
        var fxqfgllj ='-';
        var fxqfglxz ='-';
       if(data!=null && data!=""&&data.length>0){
           if(data[0].fdcjpcryzslj!=null && data[0].fdcjpcryzslj!=""){
               fdcjpcryzslj=data[0].fdcjpcryzslj;
           }
           if(data[0].fdcjpcryzsxz!=null && data[0].fdcjpcryzsxz!=""){
               fdcjpcryzsxz=data[0].fdcjpcryzsxz;
           }
           if(data[0].wxqsllj!=null && data[0].wxqsllj!=""){
               wxqsllj=data[0].wxqsllj;
           }
           if(data[0].wxqslxz!=null && data[0].wxqslxz!=""){
               wxqslxz=data[0].wxqslxz;
           }
           if(data[0].pczrslj!=null && data[0].pczrslj!=""){
               pczrslj=data[0].pczrslj;
           }
           if(data[0].pczrsxz!=null && data[0].pczrsxz!=""){
               pczrsxz=data[0].pczrsxz;
           }
           if(data[0].fxqfgllj!=null && data[0].fxqfgllj!=""){
               fxqfgllj=data[0].fxqfgllj;
           }
           if(data[0].fxqfglxz!=null && data[0].fxqfglxz!=""){
               fxqfglxz=data[0].fxqfglxz;
           }
       }
        var html = template('tpl-orgBox04',{
            fdcjpcryzslj: fdcjpcryzslj,
            fdcjpcryzsxz: fdcjpcryzsxz,
            wxqsllj: wxqsllj,
            wxqslxz: wxqslxz,
            pczrslj: pczrslj,
            pczrsxz: pczrsxz,
            fxqfgllj: fxqfgllj,
            fxqfglxz: fxqfglxz
        });
        document.getElementById('orgBox04').innerHTML = html;
    }

    var initOrgBox05 = function (data) {
        var html = template('tpl-orgBox05', {
            ryzz: data
        });
        document.getElementById('orgBox05').innerHTML = html;
    }

    var initOrgBox06 = function (a,b,c,jgId,jgName) {
        var html = template('tpl-orgBox06', {
            a: a,
            b: b,
            c: c,
            jgId: jgId,
            jgName:jgName
        });
        document.getElementById('orgBox06').innerHTML = html;
        //消息滚动
        $('.mapMess').liMarquee({
            direction: 'up',
            scrolldelay:0,
            scrollamount: 10

        });
    }

    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) {
                return pair[1];
            }
        }
        return "";
    }

    var initZypz = function (jgId, jgName) {//初始化-资源配置
        $.axget("/api/yndp/zypz/findZypzByJgId?jgId="+jgId, function (res) {

            initOrgBox01(res.data)
        });
    }

    var initWzbz = function (jgId, jgName) {//初始化-物资保障
        $.axget("/api/yndp/wzbz/findWzbzListByJgId?jgId="+jgId, function (res) {
        initOrgBox02(res.data)
        console.log("物资保障"+res.data)
        });
    }

    var initFkxc = function (jgId, jgName) {//初始化-防控宣传
        $.axget("/api/yndp/fkxc/getFkxcList?jgId="+jgId, function (res) {
                initOrgBox03(res.data)
        });
    }

    var chartLine01 = echarts.init(document.getElementById('chartLine01'));
    var chartLine02 = echarts.init(document.getElementById('chartLine02'));
    var chartLine03 = echarts.init(document.getElementById('chartLine03'));
    var chartLine04 = echarts.init(document.getElementById('chartLine04'));
    var chartLine05 = echarts.init(document.getElementById('chartLine05'));
    var initYqqs = function (jgId, jgName) {//初始化-疫情趋势
        $.axget("/api/yndp/yqqs/getYqqsChartData?jgid="+jgId+"&rowCount=ALL&yqlx=1", function (res) {
            chartLine01.setOption({
                xAxis:{
                    data:res.data.weekDays
                },
                series:[{
                    name: '新增确诊',
                    data:res.data.yqsl
                }
                ]
            });
        });
        $.axget("/api/yndp/yqqs/getYqqsChartData?jgid="+jgId+"&rowCount=ALL&yqlx=2", function (res) {
            chartLine01.setOption({
                series:[{
                    name: '新增疑似',
                    data:res.data.yqsl
                }
                ]
            });
        });
        $.axget("/api/yndp/yqqs/getYqqsChartData?jgid="+jgId+"&rowCount=ALL&yqlx=3", function (res) {
            chartLine02.setOption({
                xAxis:{
                    data:res.data.weekDays
                },
                series:[{
                    name: '现存确诊',
                    data:res.data.yqsl
                }
                ]
            });
        });
        $.axget("/api/yndp/yqqs/getYqqsChartData?jgid="+jgId+"&rowCount=ALL&yqlx=4", function (res) {
            chartLine02.setOption({
                series:[{
                    name: '现存疑似',
                    data:res.data.yqsl
                }
                ]
            });
        });
        $.axget("/api/yndp/yqqs/getYqqsChartData?jgid="+jgId+"&rowCount=ALL&yqlx=5", function (res) {
            chartLine03.setOption({
                xAxis:{
                    data:res.data.weekDays
                },
                series:[{
                    name: '死亡',
                    data:res.data.yqsl
                }
                ]
            });
        });
        $.axget("/api/yndp/yqqs/getYqqsChartData?jgid="+jgId+"&rowCount=ALL&yqlx=6", function (res) {
            chartLine03.setOption({
                series:[{
                    name: '治愈',
                    data:res.data.yqsl
                }
                ]
            });
        });
        $.axget("/api/yndp/yqqs/getYqqsChartData?jgid="+jgId+"&rowCount=ALL&yqlx=7", function (res) {
            chartLine04.setOption({
                xAxis:{
                    data:res.data.weekDays
                },
                series:[{
                    name: '病死率',
                    data:res.data.yqsl
                }
                ]
            });
        });
        $.axget("/api/yndp/yqqs/getYqqsChartData?jgid="+jgId+"&rowCount=ALL&yqlx=8", function (res) {
            chartLine05.setOption({
                xAxis:{
                    data:res.data.weekDays
                },
                series:[{
                    name: '治愈率',
                    data:res.data.yqsl
                }
                ]
            });
        });
    }

    var chartPie01 = echarts.init(document.getElementById('chartPie01'));
    var chartPie02 = echarts.init(document.getElementById('chartPie02'));
    var chartPie03 = echarts.init(document.getElementById('chartPie03'));
    var chartPie04 = echarts.init(document.getElementById('chartPie04'));
    var initZdrymp = function (jgId, jgName,jgType) {//初始化-重点人员摸排
        console.log(jgType+"=======")
        if(jgType=='2'){
            $("#tab06title").hide();
            $("#tab07title").hide();
            $("#tab08title").show();
            $("#tab09title").show();
            $("#tab2").tab('show')
            $("#tab2").focus()
            $("#tab06").hide();
            $("#tab07").hide();
            $("#tab08").show();
            $("#tab09").show();
        }else {
            $("#tab06title").show();
            $("#tab07title").show();
            $("#tab08title").hide();
            $("#tab09title").hide();
            $("#tab1").tab('show')
            $("#tab1").focus()
            $("#tab06").show();
            $("#tab07").show();
            $("#tab08").hide();
            $("#tab09").hide();
        }
        $.axget("/api/yndp/zdrymp/getZdrympData?jgid="+jgId+"&zdrylx=3", function (res) {
            var pie01rs =0
            var pie01xzrs = 0
            chartPie03.setOption({
                series:[{
                    name: '重点人员摸排',
                    data:(function () {
                        var arrNum = [];
                        var zdrymp = res.data;
                        console.log(zdrymp)
                        for(var i=0;i<zdrymp.length; i++){
                            arrNum.push({"value": zdrymp[i].zdryrs,"name":zdrymp[i].zdrymc,"xzrs":zdrymp[i].zdryxzrs,"bfb":zdrymp[i].zdryrszb});
                            pie01rs= parseInt(zdrymp[i].zdryrs)+parseInt(pie01rs);
                            pie01xzrs = parseInt(zdrymp[i].zdryxzrs)+parseInt(pie01xzrs);
                        }

                        return arrNum;
                    })()

                }
                ],
                tooltip: {
                    trigger: 'item',
                    formatter:function(data){
                        console.log(data)
                        return data.name+ " : " + data.value + " ("+data.percent.toFixed(0)+"%)";
                    }
                },
                title: [
                    {text:pie01rs+'人'},{text:'登记在册'},{text:'新增 +'+pie01xzrs+'人'}
                ]
            });
        });
        $.axget("/api/yndp/zdrymp/getZdrympData?jgid="+jgId+"&zdrylx=4", function (res) {
            var pie01rs =0
            var pie01xzrs = 0
            chartPie04.setOption({
                series:[{
                    name: '重点人员摸排',
                    data:(function () {
                        var arrNum = [];
                        var zdrymp = res.data;
                        console.log(zdrymp)
                        for(var i=0;i<zdrymp.length; i++){
                            arrNum.push({"value": zdrymp[i].zdryrs,"name":zdrymp[i].zdrymc,"xzrs":zdrymp[i].zdryxzrs,"bfb":zdrymp[i].zdryrszb});
                            pie01rs= parseInt(zdrymp[i].zdryrs)+parseInt(pie01rs);
                            pie01xzrs = parseInt(zdrymp[i].zdryxzrs)+parseInt(pie01xzrs);
                        }

                        return arrNum;
                    })()

                }
                ],
                tooltip: {
                    trigger: 'item',
                    formatter:function(data){
                        console.log(data)
                        return data.name+ " : " + data.value + " ("+data.percent.toFixed(0)+"%)";
                    }
                },
                title: [
                    {text:pie01rs+'人'},{text:'公安检查点排查'},{text:'新增 +'+pie01xzrs+'人'}
                ]
            });
        });

        $.axget("/api/yndp/zdrymp/getZdrympData?jgid="+jgId+"&zdrylx=1", function (res) {
            var pie01rs =0
            var pie01xzrs = 0
            chartPie01.setOption({
                series:[{
                    name: '重点人员摸排',
                    data:(function () {
                        var arrNum = [];
                        var zdrymp = res.data;
                        console.log(zdrymp)
                        for(var i=0;i<zdrymp.length; i++){
                            arrNum.push({"value": zdrymp[i].zdryrs,"name":zdrymp[i].zdrymc,"xzrs":zdrymp[i].zdryxzrs,"bfb":zdrymp[i].zdryrszb});
                            pie01rs= parseInt(zdrymp[i].zdryrs)+parseInt(pie01rs);
                            pie01xzrs = parseInt(zdrymp[i].zdryxzrs)+parseInt(pie01xzrs);
                        }

                        return arrNum;
                    })()

                }
                ],
                tooltip: {
                    trigger: 'item',
                    formatter:function(data){
                        console.log(data)
                        return data.name+ " : " + data.value + " ("+data.percent.toFixed(0)+"%)";
                    }
                },
                title: [
                    {text:pie01rs+'人'},{text:'特殊人群'},{text:'新增 +'+pie01xzrs+'人'}
                ]
            });
        });
        $.axget("/api/yndp/zdrymp/getZdrympData?jgid="+jgId+"&zdrylx=2", function (res) {
            var pie01rs =0
            var pie01xzrs = 0
            chartPie02.setOption({
                series:[{
                    name: '重点人员摸排',
                    data:(function () {
                        var arrNum = [];
                        var zdrymp = res.data;
                        console.log(zdrymp)
                        for(var i=0;i<zdrymp.length; i++){
                            arrNum.push({"value": zdrymp[i].zdryrs,"name":zdrymp[i].zdrymc,"xzrs":zdrymp[i].zdryxzrs,"bfb":zdrymp[i].zdryrszb});
                            pie01rs= parseInt(zdrymp[i].zdryrs)+parseInt(pie01rs);
                            pie01xzrs = parseInt(zdrymp[i].zdryxzrs)+parseInt(pie01xzrs);
                        }

                        return arrNum;
                    })()

                }
                ],
                tooltip: {
                    trigger: 'item',
                    formatter:function(data){
                        console.log(data)
                        return data.name+ " : " + data.value + " ("+data.percent.toFixed(0)+"%)";
                    }
                },
                title: [
                    {text:pie01rs+'人'},{text:'入住留验点人员'},{text:'新增 +'+pie01xzrs+'人'}
                ]
            });
        });


    }

    var initPclk = function (jgId, jgName) {//初始化-网格化排查及联防联控
        $.axget("/api/yndp/wghpclflk/getPcjlflkList?jgId="+jgId, function (res) {
            initOrgBox04(res.data)
        });
    }

    var initRyzz = function (jgId, jgName) {//初始化-疫区来昆人员追踪
        $.axget("/api/yndp/yqlkryzz/getSameDay?jgId="+jgId, function (data) {
            initOrgBox05(data)
        });
    }



    var initdt = function (jgId, jgName) {//初始化-地图
        var a ='';
        var b ='';
        var c ='';
        $.axget1("/api/yndp/map/getMapSjList?jgId="+jgId,false, function (res) {
            a=res.data;
        });
        $.axget1("/api/yndp/map/getMapHzsjList?jgId="+jgId,false, function (res) {
            b=res.data;
        });
        $.axget1("/api/yndp/map/getMapList?qzlx=1&jgId="+jgId,false, function (res) {
            c=res.data;
            setMyMapChartData(c,jgName);
        });
        if(a && b && c)
            initOrgBox06(a,b,c,jgId, jgName);
        else
            initOrgBox06({},{},{},jgId, jgName);
    }

    var initMap = function (jgId,jgName, call) {
        //echartsMap();
        $.getJSON(jiangxi, function (geoJson) {
            echarts.registerMap('经开区', geoJson);
            var myChart = echarts.extendsMap('chart-panel', {
                bgColor: '#404a59', // 画布背景色
                mapName: '经开区',    // 地图名
                goDown: true,       // 是否下钻
                // 下钻回调
                callback: function (name, option, instance) {
                    if(name === "经开区")
                        jname = '区疫情防控指挥部'
                    else
                        jname = name
                    $.axget1("/api/yndp/glgz/getJgId?jgmc="+ jname,false, function (res) {
                        // myChart.setInitData('经开区')
                        initZypz(res.data.id, name)
                        initWzbz(res.data.id, name)
                        initFkxc(res.data.id, name)
                        initYqqs(res.data.id, name);
                        initZdrymp(res.data.id,name,res.data.jglx);
                        initPclk(res.data.id, name)
                        initRyzz(res.data.id, name)
                        initdt(res.data.id, name)
                    });
                }
            });

            myChart.setInitData('经开区')
            myChart.setMap(jgName )
            // initdt(jgId,jgName)

            call(jgId,jgName)
        })
    }


    var initHtml = function (jgId, jgName,jgType) {
        initZypz(jgId, jgName)
        initWzbz(jgId, jgName)
        initFkxc(jgId, jgName)
        initYqqs(jgId, jgName);
        initZdrymp(jgId,jgName,jgType);
        initPclk(jgId, jgName)
        initRyzz(jgId, jgName)
        initMap(jgId, jgName, initdt)

    }

    var initHtmlNoMap = function (jgId, jgName,jgType) {
        initZypz(jgId, jgName)
        initWzbz(jgId, jgName)
        initFkxc(jgId, jgName)
        initYqqs(jgId, jgName);
        initZdrymp(jgId,jgName,jgType);
        initPclk(jgId, jgName)
        initRyzz(jgId, jgName)
        // initMap(jgId, jgName)
        initdt(jgId, jgName)
    }

    $(document).ready(function () {
        $.axget("/api/yndp/sjsjgx/getGxsj", function (res) {
            initTime(res.data);
        });

        initWebSocket(2,function(e){
            var jgId = e.jgId;
            var jgName = e.jgName;
            var jgType = e.jgType;
            console.log("!!!!!"+jgId)
            console.log("!!!!!"+jgName)
            initHtml(jgId, jgName,jgType);
        })
        // var jgId = getQueryVariable("jgId")
        // var jgName = getQueryVariable("jgName")
        // initHtml(jgId, jgName)

        $.axget1("/api/yndp/glgz/getJgId?jgmc="+ '区疫情防控指挥部',false, function (res) {
            initHtml(res.data.id, '经开区')
        });

    });
</script>
</body>
</html>