<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>昆明经开区网格化管理疫情工作动态</title>
    <link rel="stylesheet" type="text/css" href="component/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="component/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="src/css/links.css">
    <script type="text/javascript" src="component/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="component/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="component/echarts/echarts.js"></script>
    <script type="text/javascript" src="static/js/jquery.ajax.js"></script>
    <script type="text/javascript" src="src/js/bottom.js"></script>
    <script type="text/javascript" src="static/js/template-web.js"></script>




    <!--select美化插件-->
    <link rel="stylesheet" href="component/DropKick-master/css/dropkick.css">
    <script src="component/DropKick-master/jquery.dropkick-min.js"></script>

</head>
<body>
<div id="wrapper">
    <div id="header" class="clearfix">
        <h1 class="h03"></h1>
        <div class="dateTop">
            <span class="dateTxt">时间：</span>
            <div class="input-group date form_date" style="width: 150px;" id="datetimepicker" data-date="" data-date-format="yyyy-mm-dd" data-link-format="yyyy-mm-dd">
                <input class="form-control" size="16" type="text" readonly>
                <span class="input-group-addon"><span class="iconfont icon-rili"><i class="fa fa-calendar" aria-hidden="true"></i></span></span>
            </div>
        </div>
    </div>
    <div id="container">
        <div class="topPart clearfix">
            <h2 class="ttl06"><span>当日<br />疫情<br />动态</span></h2>
            <div class="topPart01" id="orgBoxDryqdt">
                <script id="tpl-orgBoxDryqdt" type="text/html">
                    <ul class="actionList01">
                        <li>
                            <strong>确诊病例</strong>
                            <p class="actionList0101"><span>{{today_confirmed==null?'-':today_confirmed}}</span>例</p>
                            <p class="actionList0102 clearfix">累计<span>{{all_confirmed==null?'-':all_confirmed}}例</span></p>
                        </li>
                        <li>
                            <strong>疑似病例</strong>
                            <p class="actionList0101"><span>{{today_suspected==null?'-':today_suspected}}</span>例</p>
                            <p class="actionList0102">累计<span>{{all_suspected==null?'-':today_suspected}}例</span></p>
                        </li>
                        <li>
                            <strong>密切接触者</strong>
                            <p class="actionList0101"><span>{{today_dlose==null?'-':today_dlose}}</span>例</p>
                            <p class="actionList0102">累计 {{all_close==null?'-':all_close}}例<span class="txt_yellow">解除 {{relieve==null?'-':relieve}}例</span></p>
                        </li>
                        <li class="li01">
                            <strong>留站集中医学观察</strong>
                            <p class="actionList0101"><span>{{observation==null?'-':observation}}</span>人</p>
                            <p class="actionList0102">健康状况<span>{{observation_status==null?'-':observation_status}}</span></p>
                        </li>
                        <li class="li01 hand" data-toggle="modal" data-target="#myModal">
                            <strong>发热门诊接触</strong>
                            <p class="actionList0101"><span>{{today_receive==null?'-':today_receive}}</span>人次</p>
                            <p class="actionList0102">复诊 {{today_further==null?'-':today_further}}人<span>隔离观察治疗 {{today_quarantine==null?'-':today_quarantine}}人</span></p>
                        </li>
                    </ul>
                </script>
            </div>
            <div class="topPart02" id="orgBoxBroadcast">
                <h2 class="actionT01">其他疫情信息报告</h2>
                <script id="tpl-orgBoxBroadcast" type="text/html">
                    <h2 class="actionT01">其他疫情信息报告</h2>
                    <div class="mess01">
                        <ul class="actionList02">
                            {{each broadcastList item i}}
                            <!--                                <li>【1】1到一心堂（经桥路店）购药的湖北武汉籍黄达，目前正在官渡区人民医院治疗，两次核酸结果阴性，现已排除新冠肺炎可能。已通知一心堂两名接触员工可以复工</li>-->
                            <!--                                <li>【2】2到一心堂（经桥路店）购药的湖北武汉籍黄达，目前正在官渡区人民医院治疗，两次核酸结果阴性，现已排除新冠肺炎可能。已通知一心堂两名接触员工可以复工</li>-->
                            <!--                                <li>【3】3到一心堂（经桥路店）购药的湖北武汉籍黄达，目前正在官渡区人民医院治疗，两次核酸结果阴性，现已排除新冠肺炎可能。已通知一心堂两名接触员工可以复工</li>-->
                            <li>【{{i}}】{{item.content}}</li>
                            {{/each}}
                        </ul>
                    </div>
                </script>
            </div>
        </div>
        <div class="midPart clearfix">
            <h2 class="ttl06"><span>分区<br />分级<br />管理<br />措施<br />开展</span></h2>
            <div class="midPart01 posT">
                <h2 class="ttl07Box">
                    <span class="ttl07Bg01"><span class="ttl07Bg02">人员排查</span></span>
                </h2>
                <div class="clearfix midPart01in">
                    <div class="midPart0101" id="orgBoxCheck">
                        <script id="tpl-orgBoxCheck" type="text/html">
                            <h3 class="ttl08">三类重点目标人群核查</h3>
                            <ul class="actionList03">
                                <li>
                                    <p class="clearfix"><strong class="sttl01">第一类</strong><span class="txt_green"><i></i>{{first_status==''?'--':first_status}}</span></p>
                                    <p class="clearfix"><strong>昨日推送</strong><span><em>{{first_yesterday==''?'--':first_yesterday}}</em>个</span></p>
                                    <p class="clearfix"><strong>涉经开区</strong><span><em>{{first_jkq==''?'--':first_jkq}}</em>个</span></p>
                                </li>
                                <li>
                                    <p class="clearfix"><strong class="sttl01">第二类</strong><span class="txt_yellow"><i></i>{{second_status==''?'--':second_status}}</span></p>
                                    <p class="clearfix"><strong>昨日推送</strong><span><em>{{second_yesterday==''?'--':second_yesterday}}</em>个</span></p>
                                    <p class="clearfix"><strong>涉经开区</strong><span><em>{{second_jkq==''?'--':second_jkq}}</em>个</span></p>
                                </li>
                                <li>
                                    <p class="clearfix"><strong class="sttl01">第三类</strong><span class="txt_green"><i></i>{{third_status==''?'--':third_status}}</span></p>
                                    <p class="clearfix"><strong>昨日推送</strong><span><em>{{third_yesterday==''?'--':third_yesterday}}</em>个</span></p>
                                    <p class="clearfix"><strong>涉经开区</strong><span><em>{{third_jkq==''?'--':third_jkq}}</em>个</span></p>
                                </li>
                            </ul>
                        </script>
                    </div>
                    <div class="midPart0102" id="orgBoxCollection">
                        <script id="tpl-orgBoxCollection" type="text/html">
                            <h3 class="ttl08">社区/村人员核查和信息采集</h3>
                            <ul class="actionList04">
                                <li class="li01">
                                    <a href="javascript:;" data-toggle="modal" data-target="#collectWin01">
                                        <strong>基础要素采集APP</strong>
                                        <span><em>{{app_install==''?'--':app_install}}</em>个</span>
                                    </a>
                                </li>
                                <li class="li02">
                                    <a href="javascript:;" data-toggle="modal" data-target="#collectWin02">
                                        <strong>社会信息APP使用量</strong>
                                        <span><em>{{app_used==''?'--':app_used}}</em>个</span>
                                    </a>
                                </li>
                                <li class="li03">
                                    <a href="javascript:;" data-toggle="modal" data-target="#collectWin03">
                                        <strong>核查实有人口</strong>
                                        <span><em>{{people_num==''?'--':people_num}}</em>个</span>
                                    </a>
                                </li>
                                <li class="li04">
                                    <a href="javascript:;" data-toggle="modal" data-target="#collectWin04">
                                        <strong>核查从业人员</strong>
                                        <span><em>{{woker_num==''?'--':woker_num}}</em>个</span>
                                    </a>
                                </li>
                            </ul>
                        </script>
                    </div>
                    <div class="midPart0103" id="orgBoxInvestigation">
                        <script id="tpl-orgBoxInvestigation" type="text/html">
                            <h3 class="ttl08">固定检查点排查</h3>
                            <ul class="actionList05">
                                <li class="li01">
                                    <a href="javascript:;" data-toggle="modal" data-target="#checkWin01">
                                        <strong>固定检查点</strong>
                                        <p class="p01"><span>{{count==''?'--':count}}</span>个</p>
                                    </a>
                                </li>
                                <li class="li02">
                                    <a href="javascript:;" data-toggle="modal" data-target="#checkWin02">
                                        <strong>排查人员</strong>
                                        <p class="clearfix">单日<em>{{today_person==''?'--':today_person}}人</em></p>
                                        <p class="clearfix">累计<em>{{all_persons==''?'--':all_persons}}人</em></p>
                                    </a>
                                </li>
                                <li class="li03">
                                    <a href="javascript:;" data-toggle="modal" data-target="#checkWin03">
                                        <strong>排查车辆</strong>
                                        <p class="clearfix">单日<em>{{today_vehicle==''?'--':today_vehicle}}人</em></p>
                                        <p class="clearfix">累计<em>{{all_vehicle==''?'--':all_vehicle}}人</em></p>
                                    </a>
                                </li>
                            </ul>
                        </script>
                    </div>

                </div>

            </div>
            <div class="midPart02 posT">
                <h2 class="ttl07Box">
                    <span class="ttl07Bg01"><span class="ttl07Bg02">留验站工作动态</span></span>
                </h2>
                <div class="selectBox" id="orgBoxWork">

                    <select class="default" id="work">
                        <option value="1">经开区</option>
                        <option value="2">威尔登酒店</option>
                        <option value="3">维也纳智好酒店</option>
                        <option value="4">维也纳国际酒店</option>
                        <option value="5">云琪酒店</option>
                    </select>

                </div>
                <div class="flowBox" id="orgBoxTotal">
                    <script id="tpl-orgBoxTotal" type="text/html">
                        <table class="flowImg">
                            <colgroup>
                                <col width="24%" />
                                <col width="" />
                                <col width="16%" />
                                <col width="38%" />
                            </colgroup>
                            <tr>
                                <td rowspan="7" class="bg01">
                                    <dl class="flowList01 pd0">
                                        <a href="javascript:;" data-toggle="modal" data-target="#flowWin01">
                                            <dt>留验站集中医学观察人员</dt>
                                            <dd class="clearfix">累计<span>{{all_count==null?'-':all_count}}</span></dd>
                                            <dd class="clearfix">新增<span>{{today_count==null?'-':today_count}}</span></dd>
                                        </a>
                                    </dl>
                                </td>
                                <td rowspan="5" class="bg02">
                                    <dl class="flowList01 short">
                                        <dt>解除隔离</dt>
                                        <dd class="clearfix">累计<span>{{all_remove==null?'-':all_remove}}</span></dd>
                                        <dd class="clearfix">新增<span>{{tody_remove==null?'-':tody_remove}}</span></dd>
                                    </dl>
                                </td>
                                <td rowspan="3" class="bg04">
                                    <dl class="flowList01 shortMax">
                                        <dt>湖北籍</dt>
                                        <dd>{{hubei_remove==null?'-':hubei_remove}}</dd>
                                    </dl>
                                </td>
                                <td>
                                    <p class="flowTxt01 clearfix">去如家酒店 <span>{{hubei_remove_rujia==null?'-':hubei_remove_rujia}}</span></p>
                                </td>
                            </tr>
                            <tr>

                                <td><p class="flowTxt01 clearfix">去经开区固定住所 <span>{{hubei_remove_home==null?'-':hubei_remove_home}}</span></p></td>
                            </tr>
                            <tr>
                                <td><p class="flowTxt01 clearfix">其他去向 <span>{{hubei_remove_other==null?'-':hubei_remove_other}}</span></p></td>
                            </tr>
                            <tr>
                                <td rowspan="2" class="bg05">
                                    <dl class="flowList01 shortMax">
                                        <dt>非湖北籍</dt>
                                        <dd>{{other_remove==null?'-':other_remove}}</dd>
                                    </dl>
                                </td>
                                <td>
                                    <p class="flowTxt01 clearfix">云南籍 <span>{{other_yunan_remove==null?'-':other_yunan_remove}}</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p class="flowTxt01 clearfix">其他省市籍 <span>{{other_other_remove==null?'-':other_other_remove}}</span></p>
                                </td>
                            </tr>
                            <tr>
                                <td rowspan="2" class="bg03">
                                    <dl class="flowList01 short pd0">
                                        <a href="javascript:;" data-toggle="modal" data-target="#flowWin02">
                                            <dt>入住验留</dt>
                                            <dd class="clearfix">累计<span>{{all_checkin==null?'-':all_checkin}}</span></dd>
                                            <dd class="clearfix">新增<span>{{toady_checkin==null?'-':toady_checkin}}</span></dd>
                                        </a>
                                    </dl>
                                </td>
                                <td>
                                    <dl class="flowList01 shortMax">
                                        <dt>湖北籍</dt>
                                        <dd>{{hubei_checkin==null?'-':hubei_checkin}}</dd>
                                    </dl>
                                </td>
                                <td rowspan="2">

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <dl class="flowList01 shortMax">
                                        <dt>非湖北籍</dt>
                                        <dd>{{other_checkin==null?'-':other_checkin}}</dd>
                                    </dl>
                                </td>
                            </tr>
                        </table>
                    </script>
                </div>

            </div>
            <div class="midPart03 posT">
                <h2 class="ttl07Box">
                    <span class="ttl07Bg01"><span class="ttl07Bg02">物资保障工作</span></span>
                </h2>
                <div class="midPart0301 clearfix" id="orgBoxSupport">
                    <script id="tpl-orgBoxSupport" type="text/html">
                        <h3 class="ttl09">物资保供</h3>
                        <ul class="actionList06">
                            <% if (living=='正常') { %>
                            <li>生活物资<span class="ico_green">{{living}}</span></li>
                            <% } else if (living=='紧缺') { %>
                            <li>生活物资<span class="ico_red">{{living}}</span></li>
                            <% } else if (living=='告急') { %>
                            <li>生活物资<span class="ico_orange">{{living}}</span></li>
                            <% } else { %>
                            <li>生活物资<span>{{living==null?'--':living}}</span></li>
                            <% } %>
                            <% if (prevention=='正常') { %>
                            <li>防疫物资<span class="ico_green">{{prevention}}</span></li>
                            <% } else if (prevention=='紧缺') { %>
                            <li>防疫物资<span class="ico_red">{{prevention}}</span></li>
                            <% } else if (prevention=='告急') { %>
                            <li>防疫物资<span class="ico_orange">{{prevention}}</span></li>
                            <% } else { %>
                            <li>防疫物资<span>{{prevention==null?'--':prevention}}</span></li>
                            <% } %>
                            <% if (capital=='正常') { %>
                            <li>资金保障<span class="ico_green">{{capital}}</span></li>
                            <% } else if (capital=='紧缺') { %>
                            <li>资金保障<span class="ico_red">{{capital}}</span></li>
                            <% } else if (capital=='告急') { %>
                            <li>资金保障<span class="ico_orange">{{capital}}</span></li>
                            <% } else { %>
                            <li>资金保障<span>{{capital==null?'--':capital}}</span></li>
                            <% } %>
                        </ul>
                    </script>
                </div>
                <div class="midPart0302 clearfix" id="orgBoxLack">
                    <script id="tpl-orgBoxLack" type="text/html">
                        <h3 class="ttl10">紧缺物资</h3>
                        <ul class="actionList07">
                            {{each lacklist item i}}
                            <% if (item.status=='长期缺货') { %>
                            <li>{{item.name}}({{item.status}})</li>
                            <% } else { %>
                            <li>{{item.name}}</li>
                            <% } %>
                            {{/each}}
                        </ul>
                    </script>
                </div>
            </div>
        </div>
        <div class="btmPart clearfix">
            <h2 class="ttl06"><span>辖区<br />复工<br />复产<br />工作<br />情况</span></h2>
            <div class="btmPart01 posT">
                <h2 class="ttl07Box">
                    <span class="ttl07Bg01"><span class="ttl07Bg02">企业复工复产</span></span>
                </h2>
                <div class="clearfix actionBox03" >
                <span id="orgBoxQyfgfc">
                    <script id="tpl-orgBoxQyfgfc" type="text/html">
                    <ul class="pieBox">
                        <li>
                            <a href="javascript:;" data-toggle="modal" data-target="#barWin01">
                            <strong>{{data1}}</strong>
                                <em>复工率</em>
                            <div class="pieCon">
                                <div class="pieConIn">
                                    <div class="pieConIn02">
                                        <div class="pieConIn01" style="height:{{data1}}; width: 100%;">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <span>工业企业</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="modal" data-target="#barWin02">
                                <strong>{{data2}}</strong>
                                <em>复工率</em>
                                <div class="pieCon">
                                    <div class="pieConIn">
                                        <div class="pieConIn02">
                                            <div class="pieConIn01" style="height: {{data2}}; width: 100%;">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span>建筑工程</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="modal" data-target="#barWin03">
                                <strong>{{data3}}</strong>
                                <em>复工率</em>
                                <div class="pieCon">
                                    <div class="pieConIn">
                                        <div class="pieConIn02">
                                            <div class="pieConIn01" style="height: {{data3}}; width: 100%;">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span>规模以上服务业</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="modal" data-target="#barWin04">
                                <strong>{{data4}}</strong>
                                <em>复工率</em>
                                <div class="pieCon">
                                    <div class="pieConIn">
                                        <div class="pieConIn02">
                                            <div class="pieConIn01" style="height: {{data4}}; width: 100%;">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span>物流企业</span>
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" data-toggle="modal" data-target="#barWin05">
                                <strong>{{data5}}</strong>
                                <em>复工率</em>
                                <div class="pieCon">
                                    <div class="pieConIn">
                                        <div class="pieConIn02">
                                            <div class="pieConIn01" style="height: {{data5}}; width: 100%;">

                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <span>经营企业</span>
                            </a>
                        </li>
                    </ul>
                    </script>
                    </span>
                    <div  class="actionBox02" id="orgBoxDcz1">
                        <h3 class="actionT03">督导组工作开展</h3>
                        <script id="tpl-orgBoxDcz1" type="text/html">
                            <h3 class="actionT03">督导组工作开展</h3>
                        <ul class="mess01" id="mess02">
                            <li>{{content==null?'暂无消息':content}}</li>
                        </ul>
                        </script>
                    </div>
                </div>
            </div>
            <div class="btmPart02 posT" >
                <span  id="orgBoxXxfx">
                <script id="tpl-orgBoxXxfx" type="text/html">
                <h2 class="ttl07Box">
                    <span class="ttl07Bg01"><span class="ttl07Bg02">学校复学情况</span></span>
                </h2>

                <ul class="actionList08">
                    <li><strong>各学校</strong> <img src="src/images/ac_img02.png" style="height: 75px;" alt=""> <% if (school=='未开学') { %><span class="txt_gray"><% } else { %><span class="txt_gblue"><% } %>{{school==null?'-':school}}</span></li>
                    <li><strong>幼儿园</strong><img src="src/images/ac_img03.png" style="height: 75px;" alt="">  <% if (kindergarten=='未开学') { %><span class="txt_gray"><% } else { %><span class="txt_gblue"><% } %>{{kindergarten==null?'-':kindergarten}}</span></li>
                    <li><strong>培训机构</strong><img src="src/images/ac_img04.png" style="height: 75px;" alt=""> <% if (training=='未开学') { %><span class="txt_gray"><% } else { %><span class="txt_gblue"><% } %>{{training==null?'-':training}}</span></li>
                </ul>
                </script>
                </span>
                <div class="actionBox01" id="orgBoxDcz2">
                    <h3 class="actionT02">督导组工作开展</h3>
                    <script id="tpl-orgBoxDcz2" type="text/html">
                     <h3 class="actionT02">督导组工作开展</h3>
                    <ul class="mess01" id="mess03">
                        <li>{{content==null?'暂无消息':content}}</li>
                    </ul>
                    </script>
                </div>

            </div>

        </div>
    </div>

</div>
<!-- 发热门诊接触 -->
<div class="modal fade  mapWin" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">发热门诊接触</h4>
            </div>
            <div class="modal-body">
                <div id="situationChart" class="chartWinSty"></div>
            </div>

        </div>
    </div>
</div>


<!-- 企业复工复产1 -->
<div class="modal fade  mapWin" id="barWin01" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">留验站累计入住留验观察人数变化趋势</h4>
            </div>
            <div class="modal-body">
                弹出1-1
                <div id="chartBar0101"  class="chartWinSty"></div>
            </div>

        </div>
    </div>
</div>

<!-- 企业复工复产2 -->
<div class="modal fade  mapWin" id="barWin02" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">留验站累计入住留验观察人数变化趋势</h4>
            </div>
            <div class="modal-body">
                弹出1-2
                <div id="chartBar0102" class="chartWinSty" ></div>
            </div>

        </div>
    </div>
</div>

<!-- 企业复工复产3 -->
<div class="modal fade  mapWin" id="barWin03" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">留验站累计入住留验观察人数变化趋势</h4>
            </div>
            <div class="modal-body">
                弹出1-3
                <div id="chartBar0103" class="chartWinSty" ></div>
            </div>

        </div>
    </div>
</div>

<!-- 企业复工复产4 -->
<div class="modal fade  mapWin" id="barWin04" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">留验站累计入住留验观察人数变化趋势</h4>
            </div>
            <div class="modal-body">
                弹出1-4
                <div id="chartBar0104"  class="chartWinSty" ></div>
            </div>

        </div>
    </div>
</div>

<!-- 企业复工复产5 -->
<div class="modal fade  mapWin" id="barWin05" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">留验站累计入住留验观察人数变化趋势</h4>
            </div>
            <div class="modal-body">
                弹出1-5
                <div id="chartBar0105"  class="chartWinSty" ></div>
            </div>

        </div>
    </div>
</div>


<!-- 留验站集中医学观察人员 -->
<div class="modal fade  mapWin" id="flowWin01" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">留验站集中医学观察人员</h4>
            </div>
            <div class="modal-body">
                弹出2-1
                <div id="chartBar02"  class="chartWinSty" ></div>
            </div>

        </div>
    </div>
</div>

<!-- 留验站集中医学观察人员 -->
<div class="modal fade  mapWin" id="flowWin02" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">留验站集中医学观察人员</h4>
            </div>
            <div class="modal-body">
                弹出2-2
                <div id="chartBar03"  class="chartWinSty" ></div>
            </div>

        </div>
    </div>
</div>

<!-- 固定检查点排查情况 -->
<div class="modal fade  mapWin" id="checkWin01" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">固定检查点排查情况</h4>
            </div>
            <div class="modal-body">
                <div id="chartBar0401"  class="chartWinSty" ></div>
            </div>

        </div>
    </div>
</div>
<!-- 固定检查点排查情况 -->
<div class="modal fade  mapWin" id="checkWin02" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">固定检查点排查情况</h4>
            </div>
            <div class="modal-body">
                <div id="chartBar0402"  class="chartWinSty" ></div>
            </div>

        </div>
    </div>
</div>

<!-- 固定检查点排查情况 -->
<div class="modal fade  mapWin" id="checkWin03" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">固定检查点排查情况</h4>
            </div>
            <div class="modal-body">
                <div id="chartBar0403"  class="chartWinSty" ></div>
            </div>

        </div>
    </div>
</div>

<!-- 社区/村人员核查和信息采集情况 -->
<div class="modal fade  mapWin" id="collectWin01" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">社区/村人员核查和信息采集情况</h4>
            </div>
            <div class="modal-body">
                弹出4-1
                <div id="chartLine0401"  class="chartWinSty" ></div>
            </div>

        </div>
    </div>
</div>
<!-- 社区/村人员核查和信息采集情况 -->
<div class="modal fade  mapWin" id="collectWin02" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">社区/村人员核查和信息采集情况</h4>
            </div>
            <div class="modal-body">
                弹出4-2
                <div id="chartLine0402"  class="chartWinSty" ></div>
            </div>

        </div>
    </div>
</div>
<!-- 社区/村人员核查和信息采集情况 -->
<div class="modal fade  mapWin" id="collectWin03" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">社区/村人员核查和信息采集情况</h4>
            </div>
            <div class="modal-body">
                弹出4-3
                <div id="chartLine0403" class="chartWinSty" ></div>
            </div>

        </div>
    </div>
</div>
<!-- 社区/村人员核查和信息采集情况 -->
<div class="modal fade  mapWin" id="collectWin04" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">社区/村人员核查和信息采集情况</h4>
            </div>
            <div class="modal-body">
                弹出4-4
                <div id="chartLine0404"  class="chartWinSty"></div>
            </div>

        </div>
    </div>
</div>

<!--<script type="text/javascript" src="src/js/chartLine03.js"></script>-->
<script type="text/javascript" src="src/js/chartLine0401.js"></script>
<script type="text/javascript" src="src/js/chartLine0402.js"></script>
<script type="text/javascript" src="src/js/chartLine0403.js"></script>
<script type="text/javascript" src="src/js/chartLine0404.js"></script>
<script type="text/javascript" src="src/js/chartBar0101.js"></script>
<script type="text/javascript" src="src/js/chartBar0102.js"></script>
<script type="text/javascript" src="src/js/chartBar0103.js"></script>
<script type="text/javascript" src="src/js/chartBar0104.js"></script>
<script type="text/javascript" src="src/js/chartBar0105.js"></script>
<script type="text/javascript" src="src/js/chartBar02.js"></script>
<script type="text/javascript" src="src/js/chartBar03.js"></script>
<script type="text/javascript" src="src/js/chartBar0401.js"></script>
<script type="text/javascript" src="src/js/chartBar0402.js"></script>
<script type="text/javascript" src="src/js/chartBar0403.js"></script>


<script src="component/jquery.liMarquee.js"></script>
<!--日期选择-->
<link rel="stylesheet" type="text/css" href="component/bootstrap-3.3.7-dist/js/bootstrap-datetimepicker.min.css">
<script type="text/javascript" src="component/bootstrap-3.3.7-dist/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
<script type="text/javascript" src="component/bootstrap-3.3.7-dist/js/bootstrap-datetimepicker.zh-CN.js" charset="UTF-8"></script>
<script type="text/javascript" src="src/js/threeCommon.js"></script>
<script type="text/javascript" src="src/js/threeSituation.js"></script>
<script type="text/javascript" src="src/js/threeBroadcast.js"></script>
<script type="text/javascript" src="src/js/threeCenter.js"></script>

<script>
    $('.mess01').liMarquee({
        direction: 'up',
        scrolldelay:0,
        scrollamount: 10

    });
    //select 美化js
    $('.default').dropkick();
    //日期选择js
 /*   $('.form_date').datetimepicker({
        language: 'zh-CN',
        weekStart: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });*/

    $(document).ready(function () {

        var sel1 = document.getElementById('work');
        sel1.onchange = function(){
            var index = sel1.selectedIndex;
            console.log(sel1.options[index].value);
            workid = sel1.options[index].value;
            WorkstationTotal(selectTime.replace(/-/g,""),workid);
        }

    });
</script>
</body>
</html>