<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ratel.modules.yndp.mapper.YndpFkbsWgcyMapper">

    <select id="getWgcyList" resultType="com.ratel.modules.yndp.domain.YndpFkbsWgcy">
        select * from yndp_fkbs_wgcy where wgid = #{wgId}
    </select>

</mapper>
