<!DOCTYPE html>

<html>

<head>

  <meta charset='utf-8'>

  <meta name="viewport" content="width=device-width, initial-scale=1.0" />



  <title>Robdel12/DropKick</title>

  <link rel="stylesheet" href="example.css" type="text/css">

  <link rel="stylesheet" href="css/dropkick.css" type="text/css">

  

  <script src="http://www.jq22.com/jquery/1.11.1/jquery.min.js"></script>

  <script src="jquery.dropkick-min.js"></script>

  <script type="text/javascript" charset="utf-8">






    $.fn.ready(function() {

      $('.default').dropkick();

    });

  </script>



</head>



<body>

  <div class="header">

    <div class="header_inner group">

      <h1>DropKick.js <span>Examples you can use.</span></h1>

    </div>

  </div>

  <div class="">

    <form action="#" method="post" accept-charset="utf-8" >

      <fieldset class="example">

        <h2>FOUC Solution Comparision:</h2>

        <select name="country-nofake" class="default">
          <option value="0">全部</option>
          <option value="1">景区</option>
          <option value="2">门票</option>
          <option value="3">酒店</option>
          <option value="4">美食</option>
          <option value="5">特产</option>
          <option value="6">目的地</option>
          <option value="7">攻略</option>
        </select>
          <span class="dk_wrap">

            <select name="country-nofake" class="default">

              <option value="">Try Me!</option>

              <option value="AU">Australia</option>

              <option value="CA">Canada</option>

              <option value="DE">Germany</option>

              <option value="JP">Japan</option>

              <option value="GB">United Kingdom</option>

              <option value="US">United States</option>

            </select>

          </span>

          <select name="country-nofake" class="default">

            <option value="">Try Me!</option>

            <option value="AU">Australia</option>

            <option value="CA">Canada</option>

            <option value="DE">Germany</option>

            <option value="JP">Japan</option>

            <option value="GB">United Kingdom</option>

            <option value="US">United States</option>

          </select>




      </fieldset>



    </form>
   <div class="">
     <p>sdfasdf</p>
     <p>sdfasdf</p>
     <p>sdfasdf</p>
     <p>sdfasdf</p>
     <p>sdfasdf</p>
     <p>sdfasdf</p>
     <p>sdfasdf</p>

   </div>
  </div>




</body>

</html>

