@charset "utf-8";
/*组织架构*/
.orgRightIn{ padding: 25px 25px 0 60px; font-size: 16px; background: url("../images/arrow03.png") no-repeat 30px center; background-size:25px 70%;  height: 100%;}
.orgCon{ height: 100%;}
.orgBox01{ height: calc(33% - 25px); margin-bottom:25px;  }
.orgLeftIn{ padding: 20px; height: 100%;}
.ttl01{ font-size: 18px; font-weight: bold; color: #fff; border-left: 4px solid #1bbcb0; padding: 0 0 0 10px; margin-bottom: 10px;}
.leftBox01{ padding: 1px; position: relative; min-height: 55px; margin-bottom: 5px;}
.leftBox01 .bgTop01{ position: absolute; left:0; top:0; display: block; width: 9px; height: 9px; background: url("../images/left_bg01.png") no-repeat;}
.leftBox01 .bgTop02{ position: absolute; right:0; top:0; display: block; width: 9px; height: 9px; background: url("../images/left_bg02.png") no-repeat;}
.leftBox01 .bgBtm01{ position: absolute; left:0; bottom:0; display: block; width: 9px; height: 9px; background: url("../images/left_bg03.png") no-repeat;}
.leftBox01 .bgBtm02{ position: absolute; right:0; bottom:0; display: block; width: 10px; height: 11px; background: url("../images/left_bg04.png") no-repeat;}
.leftBox01In{ height:100%; min-height: 55px; padding:5% 0 0 0;background: rgba(9,47,75,0.85);border: 1px solid #1c94be; box-shadow: inset 0 0 25px 0 rgba(35,183,229,0.66);}
.leftArrow01{ height: 58px; background: url("../images/arrow01.png") no-repeat center top; background-size:15px 100%; margin-bottom: 8px; }
.orgConLft{ float: left; width:15%; height: 100%; }
.orgConMid{ float: left; width:67%;  height: 100%; margin: 0 18px;background: rgba(9,47,75,0.55);border: 0 solid #23B7E5; box-shadow: inset 0 0 25px 0 rgba(35,183,229,0.66);}
.orgConRgt{ float: left; width:calc(18% - 36px);  height: 100%;background: rgba(9,47,75,0.55);border: 0 solid #23B7E5; box-shadow: inset 0 0 25px 0 rgba(35,183,229,0.66); }
.ttl02{  height: 40px; padding: 0 0 0 105px;  font-size: 18px; margin-top: 20%; color: #fff; font-weight: bold; }
.ttlBox{ min-height: 30%; font-weight: bold; text-align: center; padding: 13% 20px; font-size: 18px; }
.ttlBox span{ margin: 0 5px;}
.orgTb01{ width: 100%; height: 100%;}
.orgTb01 td{ width: 20%; border: 1px solid #fff; }
.orgList01{ height: 100%; padding: 2% 0 0 2%;}
.orgList01 li{ height: 30%; margin-bottom: 7px;  width: 18%; float: left; margin-right: 2%;}
.ttl03{ height: 30px;  color: #fff; font-size: 16px; font-weight: bold; padding: 0 0 0 80px; }
.ttlBox01{ height: calc(100% - 30px); font-weight: bold; text-align: center; padding: 5% 0; }
.ttlBox01 span{ margin: 0 5px;}
.orgConRgt{ padding: 20px 15px;}
.orgTxt01{ font-weight: bold; line-height: 28px;}
.ttl04{ color: #fff; font-size: 16px; font-weight: bold; margin-bottom: 10px;}
.orgConLft a{ display: block;min-height: 50%;}
.orgConLft a:hover{ text-decoration: none;color: #fff;}
.orgList01 a{ display: block;text-decoration: none; height: 95%;}
.orgList01 a:hover .ttlBox01{color: #fff;}

.bluePart .ttlBox01,.bluePart .ttlBox,.bluePart .orgTxt01{ color: #23B7E5;}
.bluePart .orgConLft a{background: url("../images/mid1_blue01.png") no-repeat; background-size:100% 100%; }
.bluePart .orgConLft a:hover {background: url("../images/mid1_blue01_on.png") no-repeat; background-size:100% 100%;}
.bluePart .orgConLft a:hover .ttlBox{color: #fff;}
.bluePart .orgList01 a{background: url("../images/mid1_blue02.png") no-repeat center bottom;background-size:100% 100%;}
.bluePart .orgList01 a:hover {background: url("../images/mid1_blue02_on.png") no-repeat center bottom;background-size:100% 100%;}

.yellowPart .ttlBox01,.yellowPart .ttlBox,.yellowPart .orgTxt01{ color: #F8E71C;}
.yellowPart .orgConLft a{background: url("../images/mid1_yellow01.png") no-repeat; background-size:100% 100%; }
.yellowPart .orgConLft a:hover {background: url("../images/mid1_yellow01_on.png") no-repeat; background-size:100% 100%;}
.yellowPart .orgConLft a:hover .ttlBox{color: #fff;}
.yellowPart .orgList01 a{background: url("../images/mid1_yellow02.png") no-repeat center bottom;background-size:100% 100%;}
.yellowPart .orgList01 a:hover {background: url("../images/mid1_yellow02_on.png") no-repeat center bottom;background-size:100% 100%;}

.greenPart .ttlBox01,.greenPart .ttlBox,.greenPart .orgTxt01{ color: #7ED321;}
.greenPart .orgConLft{background: url("../images/mid1_green01.png") no-repeat; background-size:100% 100%; height: 50%;margin-top: 7%;}
.greenPart .ttl02{ margin: 0; }
.greenPart .orgList01 li{background: url("../images/mid1_green02.png") no-repeat; background-size:100% 100%;}



/*组织结构2*/
.posT{ position: relative;}
.arrowMid{ position: absolute; left:18%; top:51%; display: block; width: 110px; height: 9px; background: url("../images/arrow02.png") no-repeat right center; background-size:100% 100%; }
.orgRightIn01{ padding: 50px 0 0 60px; background: url("../images/arrow03.png") no-repeat 30px center; background-size:25px 70%;  height: 100%;}
.orgRightIn01 .orgBox01{ height: calc(33% - 50px); margin-bottom:50px;  }
.orgLeft01 .orgLeftIn{padding: 35px 20px; height: 100%;}
.orgLeft01 .leftBox01In{ min-height: 115px;}
.orgConLft01{ float: left; width:21%; height: 100%; }
.orgConLft01 a{ text-decoration: none;display: block;}
.orgConLft01 a:hover .orgList02 strong,.orgConLft01 a:hover .orgList02{ color: #fff;}
.orgConMid01{ float: left; width:74%;  height: 100%; padding:40px 0; margin: 0 0 0 30px;background: rgba(9,47,75,0.55);border: 0 solid #23B7E5; box-shadow: inset 0 0 25px 0 rgba(35,183,229,0.66);}
.orgConLft01 .ttl02{ margin-top: 20px; background: none; padding: 0 0 0 100px; font-weight: bold;}
.orgConLft01 .ttlBox{ min-height: 65%; padding: 0; background: none; text-align: left;}
.orgList02{ padding:10px 15px; font-size: 16px;}
.orgList02 li{ font-weight: bold; line-height: 26px; margin-bottom: 10px; color: #fff;}
.orgList02 strong{ color: #23B7E5; margin-right: 10px;}
.orgList02 span{ margin-right: 10px; }
.leftBox02{ min-height: 140px; padding: 9px; position: relative;}
.leftBox02 .bgTop01{ position: absolute; left:0; top:0; display: block; width: 9px; height: 9px; background: url("../images/left_bg05.png") no-repeat;}
.leftBox02 .bgTop02{ position: absolute; right:0; top:0; display: block; width: 9px; height: 9px; background: url("../images/left_bg06.png") no-repeat;}
.leftBox02 .bgBtm01{ position: absolute; left:0; bottom:0; display: block; width: 9px; height: 9px; background: url("../images/left_bg07.png") no-repeat;}
.leftBox02 .bgBtm02{ position: absolute; right:0; bottom:0; display: block; width: 9px; height: 9px; background: url("../images/left_bg08.png") no-repeat;}
.leftBox02In{ background: #477e22; padding: 8px 0 0 0;}
.leftBox02In .orgList02 strong{ color: #f8e71c;}
.lftBtns{ overflow: hidden; position: absolute; left:30px; bottom:40px;}
.lftBtns li{ float: left; width: 56px; height: 56px; margin-right: 25px;}
.lftBtns li a{ display: block; width: 56px; height: 56px;}
.lftBtns .btn_home a{ background: url("../images/btn_home.png") no-repeat; background-size:100%; }
.lftBtns .btn_map a{ background: url("../images/btn_map.png") no-repeat; background-size:100%; }
.lftBtns .btn_home a:hover{background: url("../images/btn_home_on.png") no-repeat; background-size:100%;}
.lftBtns .btn_map a:hover{ background: url("../images/btn_map_on.png") no-repeat; background-size:100%;}
.prevBig{ position: absolute; left: 100px; top:-30px; display: block; width: 38px; height: 38px; background: url("../images/btn_up.png") no-repeat; background-size:100%; }
.nextBig{ position: absolute; left: 100px; bottom:20px; display: block; width: 38px; height: 38px; background: url("../images/btn_down.png") no-repeat; background-size:100%; }
.orgList03{padding: 0 25px; height: 100%;}
.orgList03In{ float: left; width: calc(33% - 20px); margin: 0 10px; padding: 3% 0 2% 0; height: 100%; }
.prevSmall{ position: absolute; left:10px; top:45%; width: 8px; height: 12px; display: block; background: url("../images/btn_left.png") no-repeat; background-size:100%; }
.prevSmall:hover{ position: absolute; left:10px; top:45%; width: 11px; height: 18px; display: block; background: url("../images/btn_left.png") no-repeat; background-size:100%; }
.nextSmall{ position: absolute; right:10px; top:45%; width: 8px; height: 12px; display: block; background: url("../images/btn_right.png") no-repeat; background-size:100%; }
.nextSmall:hover{ position: absolute; right:10px; top:45%; width: 11px; height: 18px; display: block; background: url("../images/btn_right.png") no-repeat; background-size:100%; }

.bluePart .orgConLft01 a{  background: url("../images/mid2_blue01.png") no-repeat; background-size:100% 100%; }
.bluePart .orgConLft01 a:hover{  background: url("../images/mid2_blue01_on.png") no-repeat; background-size:100% 100%; }
.bluePart .orgList03In{ background: url("../images/mid2_blue02.png") no-repeat; background-size:100% 100%; }

.yellowPart .orgConLft01 a{  background: url("../images/mid2_yellow01.png") no-repeat; background-size:100% 100%; }
.yellowPart .orgConLft01 a:hover{  background: url("../images/mid2_yellow01_on.png") no-repeat; background-size:100% 100%; }
.yellowPart .orgList03In{ background: url("../images/mid2_yellow02.png") no-repeat; background-size:100% 100%; }
.yellowPart .orgList02 li{ color: #F8E71C;}
.yellowPart .orgConLft01 a:hover .orgList02 li{color: #fff;}


.greenPart .orgConLft01 a{  background: url("../images/mid2_green01.png") no-repeat; background-size:100% 100%; }
.greenPart .orgConLft01 a:hover{  background: url("../images/mid2_green01_on.png") no-repeat; background-size:100% 100%; }
.greenPart .orgList03In{ background: url("../images/mid2_green02.png") no-repeat; background-size:100% 100%; }
.greenPart .orgList02 li{ color: #7ED321;}
.greenPart .orgConLft01 a:hover .orgList02 li{color: #fff;}

/*地图*/
.sideCon{ height: 100%; float: left; width: 28%; }
.midCon{ height: 100%; width: 42%; margin: 0 1%; float: left;}
.sideBox01{ position: relative; height:  calc(28% - 25px) ; padding: 5px; background: rgba(3,28,47,0.60); border: 1px solid #117491; box-shadow: inset 0 0 22px 0 #117491; margin-bottom: 25px;}
.sideBox02{ position: relative; height:  calc(34% - 25px);padding: 5px; background: rgba(3,28,47,0.60); border: 1px solid #117491; box-shadow: inset 0 0 22px 0 #117491; margin-bottom: 25px;}
.sideBox03{ position: relative;  height: 38%;padding: 5px; background: rgba(3,28,47,0.60); border: 1px solid #117491; box-shadow: inset 0 0 22px 0 #117491;}
.midBox01{height: calc(64% - 45px);padding: 2px; margin-bottom: 25px; position: relative;}
.midBox01 .greenBg01{ position: absolute; left:0;top:0; display: block; width: 23px; height: 23px; background: url("../images/bg_green01.png") no-repeat; background-size:100%; }
.midBox01 .greenBg02{ position: absolute; right:0;top:0; display: block; width: 23px; height: 23px; background: url("../images/bg_green02.png") no-repeat; background-size:100%; }
.midBox01 .greenBg03{ position: absolute; left:0;bottom:0; display: block; width: 23px; height: 23px; background: url("../images/bg_green03.png") no-repeat; background-size:100%; }
.midBox01 .greenBg04{ position: absolute; right:0;bottom:0; display: block; width: 23px; height: 23px; background: url("../images/bg_green04.png") no-repeat; background-size:100%; }
.midBox01in{ height: 100%; background: url("../images/bg_map.png"); border: 1px solid #1c4659; position: relative;}
.mapMessbox{ position: absolute; left:15px; top:15px; height: 40px; width: 100%;background: url("../images/warn.png") no-repeat left 0; background-size:14px 14px;padding: 0 0 0 20px;}
.mapMess{ height: 40px; width: 100%;}
.mapMess ul { margin: 0; line-height: 30px; }
.mapMess li{ line-height: 22px; background-size:14px 14px;  color: #F8E71C; font-size: 12px; }
.mapMess li span{ display: block;}

.mapTab{z-index: 9999999; position: absolute; right: 15px; top:15px; overflow: hidden;}
.mapTab li{ float: left; margin-left: 8px;}
.mapTab li a{ display: block;background: rgba(73,175,205,0.30); text-decoration:none;border: 1px solid #46a9c6; color: #23B7E5; padding: 3px 20px;}
.mapTab li a:hover,.mapTab li a.hover{ color: #fff;background: #092F4B;border: 1px solid #23B7E5;box-shadow: inset 0 0 19px 0 #23B7E5;}
.mapTxt{ position: absolute; left:0; bottom:0; width: 100%; z-index: 100; padding: 1% 0 0 2%; border:1px solid #23B7E5; height: 83px;background: rgba(35,183,229,0.40); overflow: hidden;}
.mapTxt li{ float: left; width: 15%; margin-left: 1%;}
.mapTxt span{ color: #F8E71C;}
.mapTxt em{ margin-right: 5px;}
.mapTxt strong{ display: block; font-size: 18px;}
.midBox02{height: 38%; padding: 5px; background: rgba(3,28,47,0.60); border: 1px solid #117491; box-shadow: inset 0 0 22px 0 #117491;}
.mapTbox{ position: absolute; top:-22px; left:0; width: 100%; z-index: 100; text-align: center; height: 43px; }
.mapT01{ margin: 0 auto;font-size: 14px; font-weight: bold; line-height: 34px; display: inline-block;   background: url("../images/bg_ttl01.png") no-repeat left top; padding: 0 0 0 9px;}
.mapT01 .mapTbg01{line-height: 34px; display: inline-block; padding: 0 25px 5px 15px; min-width: 138px;  background: url("../images/bg_ttl02.png") no-repeat right top;}
.list01{  overflow: hidden; height: 97%; padding: 5% 0 0 0;}
.list01 li{ float: left; width: 33%; padding: 1% 0 0 2%; height: 34%; background: url("../images/bg_line01.png") no-repeat 10px 5px;background-size: 7px 80%; font-size: 15px; color: #23B7E5; font-weight: bold;}
.list01 .liBg{ height: 100%; background: url("../images/bg_line2.png") no-repeat left bottom; background-size:90% 7px; }
.list01 li strong{ font-weight: normal; color: #F8E71C; margin-right: 2px; font-size: 18px;}
.list01 li span{ color: #F8E71C; font-size: 14px;}
.list01 li .ln{ margin-bottom: 5px;}
.list01 li:before{content: ''; display: block; float: left; margin: 2px 10px 0 15px; width: 27px; height: 27px;}
.list01 li.li01:before{  background: url("../images/Shape1.png") no-repeat;  background-size:100%; }
.list01 li.li02:before{  background: url("../images/Shape2.png") no-repeat;  background-size:100%; }
.list01 li.li03:before{  background: url("../images/Shape3.png") no-repeat;  background-size:100%; }
.list01 li.li04:before{  background: url("../images/Shape4.png") no-repeat;  background-size:100%; }
.list01 li.li05:before{  background: url("../images/Shape5.png") no-repeat;  background-size:100%; }
.list01 li.li06:before{  background: url("../images/Shape6.png") no-repeat;  background-size:100%; }
.list01 li.li07:before{ height: 36px;  background: url("../images/Shape7.png") no-repeat;  background-size:100%; }
.list01 li.li08:before{  background: url("../images/Shape8.png") no-repeat;  background-size:100%; }
.list01 li.li09:before{  background: url("../images/Shape9.png") no-repeat;  background-size:100%; }
.tbBox{ padding: 0 4%; height: 98%;}
.ycBox01{ height: 89%;}
.ycBox02{ float: left; width: 36%; margin-left: 5%; background:url("../images/img01.png") no-repeat center bottom; background-size:100% 60%;  height: 100%; text-align: left; color: #ccffff; padding: 15px 0 0 0;}
.list02{ float: left;  height: 100%; width: 53%; margin:5% 0 0 5%; }
.list02 li{ background: url("../images/bg_blue.png") no-repeat; background-size:100% 100%;  height: 18%; margin-bottom: 2%; overflow: hidden; padding: 2% 4% 0 4%; }
.list02 strong{ display: block; float: left; font-weight: normal; padding: 5% 0;}
.list02 span{ display: block; float: right; padding: 2% 0 0 0; color: #fff;}
.list02 em{ display: block; font-style: normal; color: #F8E71C; font-size: 12px;}
.list02 i{font-style: normal;}
.list02 li:before{ content: ''; display: block; float: left; width: 26px; height: 22px; margin: 12px 10px 0 0;}
.list02 li.lia01:before{ width: 20px; height: 22px; background: url("../images/blue1.png") no-repeat; background-size:100%; }
.list02 li.lia02:before{ background: url("../images/blue2.png") no-repeat; background-size:100%; }
.list02 li.lia03:before{  background: url("../images/blue3.png") no-repeat; background-size:100%; }
.list02 li.lia04:before{  height: 26px;background: url("../images/blue4.png") no-repeat; background-size:100%; }
.list02 li.lia05:before{  height: 22px; background: url("../images/blue5.png") no-repeat; background-size:100%;margin-top: 20px; }
.ycTxt01{ padding: 20px 0 0 0; font-size: 18px; color: #F8E71C;}
.ycTxt02{ padding: 5px 0; color: #7ED321;}
.ycTxt02 span{ margin-left: 5px; font-size: 13px;}
.ycTxt03{ font-size: 14px; color: #fff;}
.ycBox03{ height: 100%; padding: 4% 0 0 2%; overflow: hidden;}
.ycBox0301{ height: 100%;}
.ycBox0301 li{ float: left; width: 49%; height: 49%;  margin-bottom: 1%; margin-left: 1%;font-size: 16px;  background: url("../images/bg_line01.png") no-repeat 10px top; background-size:8px 90%;  }
.ycBox0301 .liBg{ height: 100%;background: url("../images/bg_line2.png") no-repeat left bottom; background-size:93% 8px;}
.ycBox0301 strong{ padding: 0 0 0 25px; color: #23B7E5; margin-bottom: 10px; display: block;}
.ycBox0301 .color01{ color: #F8E71C; margin-bottom: 10px; padding: 0 0 0 25px;}
.ycBox0301 .color02{ color: #50E3C2; margin-bottom: 10px; padding: 0 0 0 25px;}
.ycBox0301 em{ margin-right: 50px;}
.tab01{ border-bottom: none; margin-left: 2%;}
.tab01 li{  margin: 0 1%; min-width: 16%; background: url("../images/btn_tab.png") no-repeat; background-size:100% 100%;  border-radius: 4px; text-align: center;border: none!important;}
.tab01 li a{ padding: 8px 15px; color: #23B7E5; border: none!important; margin: 0!important; border-radius: 0;}
.tab01>li.active>a, .tab01>li.active>a:focus, .tab01>li.active>a:hover{  background: url("../images/btn_tab_on.png") no-repeat;background-size:100% 100%; color: #23B7E5;}
.tab01>li>a:hover{color: #23B7E5; background: url("../images/btn_tab_on.png") no-repeat;background-size:100% 100%;}

.dateBox{ padding: 0 0 0 25px; margin-bottom: 10px;}
.dateBox .form_date{ float: left;}
.dateBox .wLine{ float: left; margin: 0 3px;}
.btnSearch{background-image: linear-gradient(to right, #029fff , #2c82f5); float: left; margin-left: 10px; padding: 5px 12px; border-radius: 5px; border: none; width: 65px;}
.btnSearch:hover,.btnSearch:active,.btnSearch:focus{ color: #fff;}
.tab02Box{ padding: 6% 15px 0 0; }
.tab02{ border-bottom: none; float: right;}
.tab02 li{ margin: 0 0 0 12px;}
.tab02 li a{  margin: 0; border-radius: 0; background: rgba(73,175,205,0.30); text-decoration:none;border: 1px solid #46a9c6; color: #23B7E5; padding: 3px 20px;}
.tab02 li a:hover{  color: #fff;background: #092F4B;border: 1px solid #23B7E5;box-shadow: inset 0 0 19px 0 #23B7E5;}
.tab02>li.active>a, .tab02>li.active>a:focus, .tab02>li.active>a:hover{  color: #fff;background: #092F4B;border: 1px solid #23B7E5;box-shadow: inset 0 0 19px 0 #23B7E5;}
.listTb{ height: 88%; margin: 5% 0 0 0;}
.tb02{ width: 100%; font-size: 12px; height: 100%;}
.tb02 th{ font-weight: normal; text-align: right; padding-right: 5px;}
.tb02 td{ padding: 3px 5px;}
.lineBox{ width: 100%; height: 16px; background: #092f4b; border-radius: 0 8px 8px 0;}
.lineBox span{ display: block; height: 16px; border-radius: 0 8px 8px 0; background-image: linear-gradient(to right, #0cadf2 , #0af2b6);}
.chartSty01{ height: 280px; width: 100%; margin-bottom: 10px;}
.chartSty02{ height: 240px; width: 100%;}
.mapTbox01{ text-align: center;}
.midBox02 .tab-content{ margin-top: -30px;}


/*补充*/
.arrowMid01{ position: absolute; left:15%; top:47%; display: block; width: 110px; height: 9px; background: url("../images/arrow02.png") no-repeat right center; background-size:100% 100%; }
.leftBox01In{ text-align: center;}
.leftBox01In span{  font-size: 18px; font-weight: bold; color: #23B7E5; margin: 0 9px;}
.leftBox01In.tmore{ padding-bottom: 10px;}
.leftBox01In.tmore span{ float: left; display: block; width: 31%; margin: 1% 0; text-align: center;}
.ttlR{ font-size: 18px; font-weight: bold; color: #fff; text-align: center; min-height: 110px; line-height: 110px; background: url("../images/left_ttl.png") no-repeat; background-size:100%; }
.orgList02.lineMore li{ margin-bottom: 5px; line-height: 22px;}
.ttl05{ font-size: 18px; text-align: center; font-weight: bold; line-height: 24px; color: #23B7E5;}
.ttl05 span{ display: block; font-size: 16px; font-weight: normal; color: #fff;}
.bluePart .orgConLft01.lineMore a{ background: url("../images/mid3_blue01.png") no-repeat; background-size:100% 100%; }
.bluePart .orgConLft01.lineMore a:hover{ background: url("../images/mid3_blue01_on.png") no-repeat; background-size:100% 100%;}
.yellowPart .orgConLft01.lineMore a{ background: url("../images/mid3_yellow01.png") no-repeat; background-size:100% 100%; }
.yellowPart .orgConLft01.lineMore a:hover{ background: url("../images/mid3_yellow01_on.png") no-repeat; background-size:100% 100%;}
.greenPart .orgConLft01.lineMore a{ background: url("../images/mid3_green01.png") no-repeat; background-size:100% 100%; }
.greenPart .orgConLft01.lineMore a:hover{ background: url("../images/mid3_green01_on.png") no-repeat; background-size:100% 100%;}
.mapWin .modal-content{background: rgba(4,28,53,0.80);border: 1px solid #23B7E5;box-shadow: 4px 4px 17px 0 rgba(0,0,0,0.50);}
.mapWin .modal-header{background: #092F4B;border: 1px solid #23B7E5;box-shadow: inset 0 0 19px 0 #23B7E5;}
.mapWin .modal-body{ padding: 20px;}
.mapWin .close{ color: #115779!important;text-shadow:none;opacity:1;}
#chart-panel {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 0px 0px 0px 0px;
}
@media (min-width: 768px){

    .modal-dialog {
        width: auto;
        margin: 30px auto;
    }
}
/*疫情工作动态*/
#header h1.h03{ float: left; width: 538px; height: 54px; background: url("../images/tit_h1_02.png") no-repeat; background-size:100% 100%; }
.dateTop{ float: right; padding: 10px 0 0 0;}
.dateTop .dateTxt{ float: left; font-size: 18px; color: #23B7E5; padding: 2px 5px 0 0;}
.topPart{ height: 17%; margin-bottom: 25px; padding: 0 0 0 25px; position: relative;}
.midPart{ height: 45%; margin-bottom: 25px; padding: 0 0 0 25px; position: relative;}
.btmPart{ height: 33%;  padding: 0 0 0 25px; position: relative;}
.ttl06{ z-index: 1000; position: absolute; line-height: 22px; left:0; width: 51px; padding-top:10px; background: url("../images/bg_ttl03.png") no-repeat left top; font-size: 14px; font-weight: bold; text-align: center;}
.ttl06 span{ display: block; background: url("../images/bg_ttl04.png") no-repeat left bottom; padding: 7px 0 17px 0;  }
.topPart .ttl06{top:20%;}
.midPart .ttl06{top:30%;}
.btmPart .ttl06{top:30%;}
.topPart01{ height: 100%; width: 72%; float: left; margin-right: 10px;background-image: linear-gradient(to right, rgba(15,129,179,0.7), rgba(15,129,179,0.9),rgba(10,242,182,0.8));border: 1px solid #23B7E5;box-shadow: inset 0 2px 11px 0 rgba(0,0,0,0.50);}
.topPart02{ height: 100%; width: calc(28% - 10px); float: left;background: rgba(1,15,26,0.80) url("../images/ac_img01.png") no-repeat 95% bottom; background-size:25%; padding:10px 140px 10px 25px;border: 1px solid #117491;box-shadow: inset 0 0 22px 0 #117491;}
.midPart01{ height: 100%; width: calc(36% - 10px); margin-right: 10px; float: left;background: rgba(1,15,26,0.80);border: 1px solid #117491;box-shadow: inset 0 0 22px 0 #117491;}
.midPart02{ height: 100%; width: 36%; float: left; margin-right: 10px;background: rgba(1,15,26,0.80);border: 1px solid #117491;box-shadow: inset 0 0 22px 0 #117491;}
.midPart03{ height: 100%; width: calc(28% - 10px); float: left;}
.btmPart01{ height: 100%; width: 72%; float: left; margin-right: 10px;background: rgba(1,15,26,0.80);border: 1px solid #117491;box-shadow: inset 0 0 22px 0 #117491;}
.btmPart02{ height: 100%; width: calc(28% - 10px); float: left;background: rgba(1,15,26,0.80);border: 1px solid #117491;box-shadow: inset 0 0 22px 0 #117491;}

.ttl07Box{ position: absolute; top:-22px; left:0; width: 100%; z-index: 100; text-align: center; height: 43px; }
.ttl07Bg01{ margin: 0 auto;font-size: 14px; font-weight: bold; line-height: 34px; display: inline-block;   background: url("../images/bg_ttl05.png") no-repeat left top; padding: 0 0 0 9px;}
.ttl07Bg01 .ttl07Bg02{line-height: 34px; display: inline-block; padding: 0 25px 5px 15px; min-width: 138px;  background: url("../images/bg_ttl06.png") no-repeat right top;}
.midPart0301{background: rgba(1,15,26,0.80);border: 1px solid #117491;box-shadow: inset 0 0 22px 0 #117491; height: calc(51% - 10px); margin-bottom: 10px;}
.midPart0302{background: rgba(39,1,1,0.64);border: 1px solid rgba(255,89,89,0.52);box-shadow: inset 0 0 22px 0 rgba(255,89,89,0.91); height: 49%;}

.actionList01{ overflow: hidden; height: 100%; padding: 20px 0 0 40px;}
.actionList01 li{ float: left; font-size: 16px; padding: 0 5px; height: 100%; width: 19%; text-align: center; background: url("../images/ac_line01.png") no-repeat right 10px;}
.actionList01 strong{ font-size: 22px; font-weight: bold; display: block;  margin-bottom: 5px;}
.actionList0101{ font-size: 20px; margin-bottom: 10px;}
.actionList0101 span{ font-size: 28px; margin-right: 5px;}
.actionList0102{background: rgba(255,255,255,0.20); line-height:40px; text-align: left; padding: 0 10px; font-weight: bold;}
.actionList0102 span{ float: right;}
.txt_yellow{ color: #F8E71C;}
.actionList01 li.li01{ width: 21%;}
.actionT01{ color: #22FCFE; font-size: 18px;margin-bottom:10px; line-height: 25px;}
.actionT01:before{ content: ''; float: left; width: 27px;height: 26px; background: url("../images/ac_ico01.png") no-repeat; background-size:100%; margin-right: 12px; }
.actionList02{ color: #23B7E5; font-size: 16px;}
.topPart02 .mess01{ height: 72%; width: 100%;}
.topPart02 .mess01 ul { margin: 0; line-height: 26px;}
.midPart0101{ float: left; width: 30%; height: 100%; background: url("../images/ac_line03.png") no-repeat right 30px; padding: 0 12px;}
.midPart0102{ float: left; width: 37%;height: 100%; background: url("../images/ac_line03.png") no-repeat right 30px; padding: 0 15px;}
.midPart0103{ float: left; width: 33%; height: 100%;padding: 0 12px;}
.midPart01in{ height: 100%; padding: 40px 15px 20px 40px;}
.ttl08{ color: #22FCFE; font-size: 14px; margin-bottom: 5px; text-align: center; font-weight: bold;}
.actionList03{ height: 100%;}
.actionList03 li{ background: url("../images/ac_line02.png") repeat-x left bottom; height: 33%; padding: 20px 0; line-height: 24px; }
.actionList03 li p{ margin-bottom: 5px;}
.actionList03 li:last-child{ background: none;}
.actionList03 li strong{ color: #23B7E5; font-size: 16px;}
.actionList03 .sttl01{ color: #22FCFE; font-size: 14px;}
.actionList03 span{ float: right;}
.actionList03 em{ font-size: 18px; font-weight: bold; margin-right: 5px;}
.mb5{ margin-bottom: 5px;}
.mb10{ margin-bottom: 10px;}
.actionList03 .txt_green{ font-size: 12px; color: #7ED321;}
.actionList03 .txt_green i{ display: inline-block; width: 6px; height: 6px; border-radius: 6px; background:#7ED321; margin-right: 3px; }
.actionList03 .txt_yellow{ font-size: 12px; color: #F8E71C;}
.actionList03 .txt_yellow i{ display: inline-block; width: 6px; height: 6px; border-radius: 6px; background:#F8E71C; margin-right: 3px; }
.actionList04{ height: 100%; padding: 25px 0 0 0;}
.actionList04 li{ height: 24%;padding: 10px 0;}
.actionList04 li a{ text-decoration: none; color: #fff;}
.actionList04 strong{ color: #23B7E5; display: block; margin-bottom: 10px;}
.actionList04 em{ font-weight: bold; font-size: 20px; margin-right: 5px;}
.actionList04 li:before{ content: ''; width: 46px; height: 51px; float: left; margin-right: 15px;}
.actionList04 .li01:before{ background: url("../images/z1.png") no-repeat; background-size:100%; }
.actionList04 .li02:before{ background: url("../images/z2.png") no-repeat; background-size:100%; }
.actionList04 .li03:before{ background: url("../images/z3.png") no-repeat; background-size:100%; }
.actionList04 .li04:before{ background: url("../images/z4.png") no-repeat; background-size:100%; }
.actionList05{ height: 100%; padding: 15px 0 0 0;}
.actionList05 li{ height: 33%;padding: 20px 0 10px 0;background: url("../images/ac_line04.png") no-repeat right bottom;}
.actionList05 li:last-child{ background: none;}
.actionList05 li:before{ content: ''; width: 46px; height: 100%; float: left; margin-right: 10px;}
.actionList05 li p{ margin-bottom: 10px;}
.actionList05 li.li01{ height: 30%;}
.actionList05 li.li01:before{background: url("../images/z5.png") no-repeat; background-size:100%; }
.actionList05 li.li02:before{background: url("../images/z6.png") no-repeat; background-size:100%; }
.actionList05 li.li03:before{background: url("../images/z7.png") no-repeat; background-size:100%; }
.actionList05 strong{ color: #23B7E5; display: block; margin-bottom: 12px;}
.actionList05 .p01{ font-size: 20px; color: #fff; padding: 5px 0 0 0;}
.actionList05 .p01 span{ margin-right: 5px;}
.actionList05 em{ float: right; color: #fff;}
.actionList05 p{ float: left; width: 65%; color: #23B7E5;}
.midPart0301{ padding: 25px 0;}
.midPart0301 .ttl09{ float: left; font-size: 18px; color: #22FCFE; font-weight: bold; width: 25%; padding: 35px 0 0 0; text-align: center;}
.midPart0301 .ttl09:before{ content: ''; display: block; width: 45px; height: 47px; margin: 0 auto 15px auto; background: url("../images/ac_ico02.png") no-repeat; background-size:100%; }
.actionList06{ float: left; padding: 15px 25px 0 10px; width: 70%; height: 100%;}
.actionList06 li{ font-size: 24px; color: #23B7E5; padding: 5px 0; height: 31%;}
.actionList06 span{ float: right;}
.ico_green{ color: #7ED321;}
.ico_green:before{ content: ''; display: inline-block; float: left; margin-top: 7px; margin-right: 20px; width: 23px; height: 23px; background: url("../images/ac_ico04.svg") no-repeat; background-size:100%; }
.ico_red{ color: #F05050;}
.ico_red:before{ content: ''; display: inline-block; float: left; margin-top: 7px; margin-right: 20px; width: 23px; height: 23px; background: url("../images/ac_ico05.png") no-repeat; background-size:100%; }
.ico_orange{ color: #F5A623;}
.ico_orange:before{ content: ''; display: inline-block; float: left; margin-top: 7px; margin-right: 20px; width: 23px; height: 23px; background: url("../images/ac_ico06.png") no-repeat; background-size:100%; }
.midPart0302{padding: 25px 0;}
.midPart0302 .ttl10{float: left; font-size: 18px; color: #FF757A; font-weight: bold; width: 25%; padding: 40px 0 0 0; text-align: center;}
.midPart0302 .ttl10:before{ content: ''; display: block; width: 45px; height: 47px; margin: 0 auto 15px auto; background: url("../images/ac_ico03.png") no-repeat; background-size:100%; }
.actionList07{ float: left;padding: 10px 25px 0 10px; width: 75%; height: 100%;}
.actionList07 li{ float: left; width: 50%; height: 30%; font-size: 18px; color: #FF757A; font-weight: bold; padding: 10px 0;}
.actionList08{ padding: 25px 0 10px 0; overflow: hidden;}
.actionList08 li{ float: left; width: 33%; text-align: center;}
.actionList08 li strong{ display: block; font-size: 18px; color: #23B7E5; margin-bottom: 5px;}
.actionList08 li img{ margin-bottom: 10px;}
.actionList08 li span{ display: block; font-size: 18px; font-weight: bold;}
.txt_gray{ color: #979797; }
.txt_gblue{ color: #50E3C2 ; }
.actionBox01{background: rgba(35,183,229,0.20);border: 1px solid #23B7E5; padding: 10px 20px; margin: 0 25px; height: 38%;}
.actionT02{ color: #22FCFE; font-size: 18px;margin-bottom:10px; line-height: 25px;}
.actionT02:before{ content: ''; float: left; width: 27px;height: 26px; background: url("../images/ac_ico01.png") no-repeat; background-size:100%; margin-right: 12px; }
.actionBox01 .mess01{ height: 70%; width: 100%;}
.actionBox01 .mess01 ul { margin: 0; line-height: 26px;}
.actionBox01 .mess01 li{ color: #23B7E5; font-size: 16px; line-height: 26px;}
.pieBox{ float: left; width: 65%; height: 100%;}
.pieBox li{ float: left; text-align: center; width:19%; margin-right: 1%; height: 100%; background: rgba(1,15,26,0.80);border: 1px solid #117491;box-shadow: inset 0 0 22px 0 #117491;}
.pieBox li a{ display: block; height: 100%; padding: 30px 0 0 0; text-decoration: none;}
.pieBox li a:hover,.pieBox li a:active{background: rgba(12,173,242,0.17);border: 0 solid #23B7E5;box-shadow: inset 0 0 6px 0 #0CADF2;}
.pieBox li strong{ font-size: 22px; color: #fff; display: block; margin-bottom: 5px;}
.pieBox li em{ font-size: 12px; color: #7ED321; margin-bottom: 20px; display: block;}
.pieBox li span{ font-size: 16px; font-weight: bold; text-decoration: none; color: #23B7E5 ;}
.actionBox02{ float: left; width: 35%; padding:15px;background: rgba(35,183,229,0.20);border: 1px solid #23B7E5; height: 100%;}
.actionBox03{ height: 100%; padding: 30px 15px 20px 40px;}
.actionT03{ color: #22FCFE; font-size: 18px;margin-bottom:10px; line-height: 25px;}
.actionT03:before{ content: ''; float: left; width: 27px;height: 26px; background: url("../images/ac_ico01.png") no-repeat; background-size:100%; margin-right: 12px; }
.actionBox02 .mess01{ height: 85%; width: 100%;}
.actionBox02 .mess01 ul { margin: 0; line-height: 26px;}
.actionBox02 .mess01 li{ color: #23B7E5; font-size: 16px; line-height: 26px;}
.pieCon{ width: 63px; height: 110px;  margin:0 auto; position: relative;  background: url("../images/zhuzi-1.png") no-repeat; background-size:100% 100%; margin-bottom: 15px; }
.pieConIn{ width: 51px; height: 110px; margin-left: 6px;  padding-bottom: 8px; background: url("../images/zhuzi-4.png") no-repeat left bottom; }
.pieConIn01{ position: absolute; left:0; bottom: 0; z-index: 100;  background: url("../images/zhuzi-5.png") no-repeat left top; margin-top: 10px;}
.pieConIn02{ height: 100%; position: relative;}
.selectBox{ padding: 27px 0 0 27px;}
.flowBox{ padding: 0 10px; height: 80%;}
.flowImg{ width: 100%; height: 100%;}
.flowImg th,.flowImg td{  font-size: 14px; text-align: center;}
.flowImg td{ padding: 0 2px}
dl,dt,dd{font-size: 14px;}
.flowList01{  text-align: left;width: 121px; height: 102px; padding: 10px; }
.flowList01.short{background:url("../images/a2.png") no-repeat;  height: 80px;background-size:100%; }
.flowList01.shortMax{background:url("../images/a3.png") no-repeat; width: 80px;  height: 51px;background-size:100%; padding: 5px 10px; }
.flowList01 dt{ margin-bottom: 7px; font-weight: normal;}
.flowList01 dd span{ float: right;}
.flowList01.pd0{ padding: 0!important; background: none;}
.flowList01 a{ display: block; color: #fff!important;background:url("../images/a1.png") no-repeat; background-size:100%; width: 121px; height: 102px; padding: 10px; line-height: 24px;}
.flowList01 a:hover,.flowList01 a:active,.flowList01 a:focus{ text-decoration: none;}
.flowList01.short a{background:url("../images/a2.png") no-repeat;  height: 80px;background-size:100%;}
.flowImg .bg01{ background: url("../images/b1.png") no-repeat right 60%; background-size:40px 205px; }
.flowImg .bg02{ background: url("../images/b2.png") no-repeat right 60%; background-size:31px 123px; }
.flowImg .bg03{ background: url("../images/b3.png") no-repeat right center; background-size:31px 78px; }
.flowImg .bg04{ background: url("../images/b4.png") no-repeat right center; background-size:25px 85px; }
.flowImg .bg05{ background: url("../images/b5.png") no-repeat right center; background-size:25px 52px; }
.flowTxt01{ background: url("../images/a4.png") no-repeat; background-size:100% 100%; height: 37px; text-align: left; padding: 10px 25px 10px 15px; }
.flowTxt01 span{ float: right;}
.hand:hover{cursor: pointer;}
.chartWinSty{width: 1180px; height: 500px;}

.tb01Head{ margin-top: 3%; height:40px;background: rgba(9,47,75,0.50); margin-bottom: 5px;}
.tb01Head .td01{ height: 100%;border-collapse:separate;border-spacing:0 8px; }
.tb01Head th{ padding: 10px 0; text-align: center;}
.tb01{ width: 100%; border-collapse:separate;}
.tb01Body{ height: 210px; width: 100%; }
.tb01Body .tb01{ height: 100%;border-spacing:0 8px;margin-top: -8px;}
.tb01Body .tb01 th{ background: rgba(9,47,75,0.50);  text-align: center;  color: #23B7E5; font-size: 15px;}
.tb01Body .tb01 td{background: rgba(9,47,75,0.50); height: 35px;  text-align: center;}

.orgConLft .ttlBox{ font-size: 16px; font-weight: normal; padding: 13% 10px;}
.orgConMid .ttlBox01{font-size: 14px; font-weight: normal;}


.orgConLft{ position: relative;}
.wBox{ display: none; position: absolute; z-index:1000;top:78px; border: 1px solid #418195; background: rgba(0,0,0,0.5); padding: 15px 20px;}
.wBox dt{ color: #f3e31b; font-size: 14px; margin-bottom: 5px;}
.wBox dd{ color: #fff; font-size: 14px; margin-bottom: 3px;}
.orgList01 li{ position: relative;}
.orgList01 .wBox{padding: 5px 10px;background: rgba(0,0,0,0.9); width: 100%;}
.orgConLft .wBox{ top:185px;}

/*日期选择*/
.form_date{
    background-color: rgba(73,175,205,0.3)!important;
}
.form_date .form-control{
    background: none!important;
    border:#49AFCD solid 1px!important;
    height: 30px!important;
    border-right: 0!important;
    color:#fff;
}

.form_date .input-group-addon{
    background: none!important;
    border:#49AFCD solid 1px!important;
    border-left: 0!important;
    color: #49AFCD;
}
.datetimepicker{
    background-color: #062331!important;

}
.datetimepicker table tr td.day:hover{ background: #167499!important; color: #fff;}
.datetimepicker-dropdown-bottom-right:after{
    border-bottom: #182a64 solid 1px!important;
}
.datetimepicker table tr td.old,body  .datetimepicker table tr td.new{ color: #bfbfbf }
.form-control[readonly]{ color: #fff!important; }
.form-controlBlue[readonly]{ color: #0275F4!important; }

.datetimepicker.quarter .month {
    width: 48%;
}
.datetimepicker.quarter .month:nth-child(n+5){
    display: none;
}

.table-condensed>tbody>tr>td, .table-condensed>tbody>tr>th, .table-condensed>tfoot>tr>td, .table-condensed>tfoot>tr>th, .table-condensed>thead>tr>td, .table-condensed>thead>tr>th{padding:3px!important;}

/*select*/
.dk_container{
    background: none!important;
    margin-bottom: 0!important;
    margin-right: 10px;
    border-radius: 0!important;
}
.dk_toggle{
    height: 30px!important;
    background-color: rgba(12,173,242,0.17);!important;
    border:#23B7E5 solid 1px!important;
    text-shadow: none!important;
    color: #fff!important;
    width: 160px!important;
    font-size: 14px;
    font-weight: normal;
    box-shadow: inset 0 0 6px 0 #0CADF2;
    padding: 5px 45px 7px 10px!important;
    border-radius: 0!important;
}
.borderbottom{
    border-bottom: #214c9c dashed 1px;}
.dk_options{
    background-color: rgba(12,173,242,0.5);!important;
    border:#23B7E5 solid 1px!important;
    background-size: 100% 100%!important;
    box-shadow: inset 0 0 6px 0 #0CADF2;
    height: 150px;
    margin-top: 3px!important;
    padding-top: 0;
    font-size: 14px;
    font-weight: normal!important;
}

.dk_open{
    box-shadow: none!important;
}
.dk_options_inner{ border: none!important;}
.dk_options a{
    background: none!important;
    text-shadow: none!important;
    border-bottom: none!important;
    color: #fff;
    font-weight: normal!important;
    padding-left: 8px!important;
    display: block;
    padding-top:2px!important;
    padding-bottom:2px!important;
}
.dk_options a:hover{
    background-color: rgba(12,173,242,0.8);
    text-shadow: none!important;
    border-bottom: none!important;
    color: #fff;}
.dk_toggle:after{
    border-left: 8px solid transparent!important;
    border-right: 8px solid transparent!important;
    border-top: #3898ff solid 8px!important;
    top: 39%!important;
}
.dk_open .dk_toggle{ background-color: rgba(12,173,242,0.17);!important; }
.dk_options_inner{ border-radius: 0!important;}


